Repository SoundBlaster/ISOInspector: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-github-workflows, swiftlint-foundationui, swiftlint-componenttestapp, swift-build-foundationui, swift-format-all, swift-test-foundationui

.pre-commit-config.yaml:

# Pre-commit hook configuration for FoundationUI
# Install: pip install pre-commit && pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files

repos:
  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        name: Check YAML syntax
        description: Validate YAML files including GitHub Actions workflows
        stages: [pre-commit]

      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
        description: Prevent accidentally committing large files
        stages: [pre-commit]

      - id: trailing-whitespace
        name: Trim trailing whitespace
        description: Remove trailing whitespace from all files
        stages: [pre-commit]

      - id: end-of-file-fixer
        name: Fix end of files
        description: Ensure files end with a newline
        stages: [pre-commit]
  # GitHub Actions workflow validation
  - repo: local
    hooks:
      - id: validate-github-workflows
        name: Validate GitHub Actions workflows
        entry: sh -c 'for file in "$@"; do python3 -c "import yaml; yaml.safe_load(open(\"$file\"))" || exit 1; done'
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        types: [yaml]
        stages: [pre-commit]
        description: Validate GitHub Actions workflow YAML syntax

  # Swift linting with SwiftLint
  - repo: local
    hooks:
      - id: swiftlint-foundationui
        name: SwiftLint (FoundationUI)
        entry: sh -c 'cd FoundationUI && swiftlint --config .swiftlint.yml --strict'
        language: system
        files: ^FoundationUI/.*\.swift$
        types: [swift]
        stages: [pre-commit]
        description: Run SwiftLint on FoundationUI source files

      - id: swiftlint-componenttestapp
        name: SwiftLint (ComponentTestApp)
        entry: swiftlint --strict
        language: system
        files: ^Examples/ComponentTestApp/.*\.swift$
        types: [swift]
        stages: [pre-commit]
        description: Run SwiftLint on ComponentTestApp source files

      - id: swift-build-foundationui
        name: Swift Build (FoundationUI)
        entry: sh -c 'cd FoundationUI && swift build && echo "Build successful"'
        language: system
        files: ^FoundationUI/.*\.swift$
        types: [swift]
        stages: [pre-push]
        description: Verify FoundationUI builds successfully before push

      - id: swift-format-all
        name: Swift Format (Auto-format)
        entry: swift format --in-place
        language: system
        types: [swift]
        stages: [pre-commit]
        description: Auto-format Swift files with swift-format before commit

      - id: swift-test-foundationui
        name: Swift Tests (FoundationUI)
        entry: sh -c 'cd FoundationUI && swift test'
        language: system
        files: ^FoundationUI/(Sources|Tests)/.*\.swift$
        types: [swift]
        stages: [pre-push]
        description: Run unit tests before push

  # Git hooks for commit messages
  - repo: local
    hooks:
      - id: commit-message-format
        name: Commit Message Format
        entry: sh -c 'echo "Commit message validation passed"'
        language: system
        stages: [pre-commit]
        description: Validate commit message format (task #XX references)

# Additional pre-commit configurations
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: false
  skip: []
  submodules: false

Fix recents sidebar not loading documents into windows
  DOCS/INPROGRESS/231_MacOS_iPadOS_MultiWindow_SharedState_Bug.md
  Sources/ISOInspectorApp/State/WindowSessionController.swift
Due: swift-format-all

Fix API compatibility issues in WindowSessionController
  Sources/ISOInspectorApp/State/WindowSessionController.swift
  Tests/ISOInspectorAppTests/AppShellViewErrorBannerTests.swift
  Tests/ISOInspectorAppTests/WindowSessionControllerTests.swift
Due: swift-format-all

Implement A8 — Gate Test Coverage Using coverage_analysis.py
  .githooks/pre-push
  .github/workflows/coverage-gate.yml
  DOCS/TASK_ARCHIVE/230_A8_Gate_Test_Coverage/230_A8_Gate_Test_Coverage.md
  DOCS/TASK_ARCHIVE/230_A8_Gate_Test_Coverage/Summary_of_Work.md
  Documentation/ISOInspector.docc/Guides/TestingAndCoverage.md
  README.md
  coverage_analysis.py
Due: validate-github-workflows

Fix YAML syntax error in coverage-gate workflow
  .github/workflows/coverage-gate.yml
Due: validate-github-workflows

Add error handling and logging to PR comment step
  .github/workflows/coverage-gate.yml
Due: validate-github-workflows

Fix permissions for PR comments in coverage-gate workflow
  .github/workflows/coverage-gate.yml
Due: validate-github-workflows

Fix critical regression: UI content not displayed after file selection
  DOCS/INPROGRESS/232_UI_Content_Not_Displayed_After_File_Selection.md
  Sources/ISOInspectorApp/AppShellView.swift
Due: swift-format-all

Add regression tests and documentation for bug #232
  DOCS/INPROGRESS/232_UI_Content_Not_Displayed_After_File_Selection.md
  Sources/ISOInspectorApp/AppShellView.swift
  Tests/ISOInspectorAppTests/WindowSessionControllerTests.swift
Due: swift-format-all

Fix WindowSessionControllerTests compilation errors
  DOCS/INPROGRESS/232_UI_Content_Not_Displayed_After_File_Selection.md
  Tests/ISOInspectorAppTests/WindowSessionControllerTests.swift
Due: swift-format-all

Fix SwiftUI "Publishing changes from within view updates" warning in IntegritySummaryViewModel
  Sources/ISOInspectorApp/Integrity/IntegritySummaryViewModel.swift
  Tests/ISOInspectorAppTests/IntegritySummaryViewModelTests.swift
  Tests/ISOInspectorAppTests/IntegritySummaryViewTests.swift
  Tests/ISOInspectorAppTests/UICorruptionIndicatorsSmokeTests.swift
Due: swift-format-all

Create 233_SwiftUI_Publishing_Changes_Warning_Fix.md
  DOCS/INPROGRESS/233_SwiftUI_Publishing_Changes_Warning_Fix.md
Due: none

docs: capture bug reports for recent issues
  DOCS/INPROGRESS/234_Remove_Recent_File_From_Sidebar.md
  DOCS/INPROGRESS/235_System_Notification_For_Export.md
  DOCS/INPROGRESS/236_Box_Details_Default_Card_Selection.md
  DOCS/INPROGRESS/237_Integrity_Report_Banner_Action.md
  DOCS/INPROGRESS/238_VIR_Issue_Box_Tree_Scroll.md
  DOCS/INPROGRESS/239_Missing_Box_Hex_Preview.md
  DOCS/INPROGRESS/240_TKHD_Flags_Mismatch.md
  DOCS/INPROGRESS/241_Box_Details_Mono_Font.md
Due: none

Refocus BUG command and add FIX wrapper
  DOCS/COMMANDS/BUG.md
  DOCS/COMMANDS/FIX.md
Due: none

Archive resolved Bug #233 (SwiftUI Publishing Changes Warning Fix)
  DOCS/TASK_ARCHIVE/231_SwiftUI_Publishing_Changes_Warning_Fix/233_SwiftUI_Publishing_Changes_Warning_Fix.md
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Add smart task archiver script to prevent accidental archival of active tasks
  DOCS/COMMANDS/ARCHIVE.md
  scripts/archive_completed_tasks.py
Due: none

Add comprehensive tests and CI for archive script
  .github/workflows/script-tests.yml
  DOCS/COMMANDS/ARCHIVE.md
  DOCS/COMMANDS/ARCHIVE_SCRIPT_GUIDE.md
  scripts/tests/test_archive_completed_tasks.py
Due: validate-github-workflows

Add Python cache files to .gitignore
  .gitignore
Due: none

Fix CI workflow: Remove pytest dependency from script-tests.yml
  .github/workflows/script-tests.yml
  scripts/archive_completed_tasks.py
Due: validate-github-workflows

feat: Add interactive mode, validation warnings, and JSON/CSV output to archive script
  scripts/archive_completed_tasks.py
Due: none

docs: Update ARCHIVE.md with new interactive mode and output format features
  DOCS/COMMANDS/ARCHIVE.md
Due: none

docs: Update ARCHIVE_SCRIPT_GUIDE.md with new features documentation
  DOCS/COMMANDS/ARCHIVE_SCRIPT_GUIDE.md
Due: none

fix: Remove actual filenames from ARCHIVE.md examples
  DOCS/COMMANDS/ARCHIVE.md
Due: none

fix: Update CI test to accept both success states of archive script
  .github/workflows/script-tests.yml
Due: validate-github-workflows

fix: Update actions/setup-python from v4 to v5 in script-tests workflow
  .github/workflows/script-tests.yml
Due: validate-github-workflows
