Repository SoundBlaster/ISOInspector: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-github-workflows, swiftlint-foundationui, swiftlint-componenttestapp, swift-build-foundationui, swift-format-all, swift-test-foundationui

.pre-commit-config.yaml:

# Pre-commit hook configuration for FoundationUI
# Install: pip install pre-commit && pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files

repos:
  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        name: Check YAML syntax
        description: Validate YAML files including GitHub Actions workflows
        stages: [pre-commit]

      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
        description: Prevent accidentally committing large files
        stages: [pre-commit]

      - id: trailing-whitespace
        name: Trim trailing whitespace
        description: Remove trailing whitespace from all files
        stages: [pre-commit]

      - id: end-of-file-fixer
        name: Fix end of files
        description: Ensure files end with a newline
        stages: [pre-commit]
  # GitHub Actions workflow validation
  - repo: local
    hooks:
      - id: validate-github-workflows
        name: Validate GitHub Actions workflows
        entry: sh -c 'for file in "$@"; do python3 -c "import yaml; yaml.safe_load(open(\"$file\"))" || exit 1; done'
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        types: [yaml]
        stages: [pre-commit]
        description: Validate GitHub Actions workflow YAML syntax

  # Swift linting with SwiftLint
  - repo: local
    hooks:
      - id: swiftlint-foundationui
        name: SwiftLint (FoundationUI)
        entry: sh -c 'cd FoundationUI && swiftlint --config .swiftlint.yml --strict'
        language: system
        files: ^FoundationUI/.*\.swift$
        types: [swift]
        stages: [pre-commit]
        description: Run SwiftLint on FoundationUI source files

      - id: swiftlint-componenttestapp
        name: SwiftLint (ComponentTestApp)
        entry: swiftlint --strict
        language: system
        files: ^Examples/ComponentTestApp/.*\.swift$
        types: [swift]
        stages: [pre-commit]
        description: Run SwiftLint on ComponentTestApp source files

      - id: swift-build-foundationui
        name: Swift Build (FoundationUI)
        entry: sh -c 'cd FoundationUI && swift build && echo "Build successful"'
        language: system
        files: ^FoundationUI/.*\.swift$
        types: [swift]
        stages: [pre-push]
        description: Verify FoundationUI builds successfully before push

      - id: swift-format-all
        name: Swift Format (Auto-format)
        entry: swift format --in-place
        language: system
        types: [swift]
        stages: [pre-commit]
        description: Auto-format Swift files with swift-format before commit

      - id: swift-test-foundationui
        name: Swift Tests (FoundationUI)
        entry: sh -c 'cd FoundationUI && swift test'
        language: system
        files: ^FoundationUI/(Sources|Tests)/.*\.swift$
        types: [swift]
        stages: [pre-push]
        description: Run unit tests before push

  # Git hooks for commit messages
  - repo: local
    hooks:
      - id: commit-message-format
        name: Commit Message Format
        entry: sh -c 'echo "Commit message validation passed"'
        language: system
        stages: [pre-commit]
        description: Validate commit message format (task #XX references)

# Additional pre-commit configurations
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: false
  skip: []
  submodules: false

Trying to fix split view navigation
  DOCS/INPROGRESS/245_Adopt_SwiftUI_Inspector_API_for_ISOInspectorApp.md
  DOCS/INPROGRESS/246_Bug_NavigationSplit_Width_Overflow.md
  DOCS/INPROGRESS/Summary_of_Work.md
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/Inspector/InspectorDetailView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
  todo.md
Due: swift-format-all

Fix Desing System usage
  Examples/ComponentTestApp/ComponentTestApp/Screens/DesignTokensScreen.swift
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/Detail/ParseTreeDetailView.swift
  Sources/ISOInspectorApp/Integrity/IntegritySummaryView.swift
  Sources/ISOInspectorApp/ResearchLogAuditPreview.swift
  Sources/ISOInspectorApp/Settings/ValidationSettingsView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
  Sources/ISOInspectorApp/UI/Components/BoxPickerView.swift
  Sources/ISOInspectorApp/UI/Components/BoxTextInputView.swift
  Sources/ISOInspectorApp/UI/Components/BoxToggleView.swift
  Tests/ISOInspectorAppTests/FoundationUI/BoxMetadataRowComponentTests.swift
Due: swiftlint-componenttestapp, swift-format-all

Change SwiftLint rule for indentation
  .swift-format.json
Due: none

Add NavigationSplitView inspector visibility control
  DOCS/INPROGRESS/Summary_of_Work.md
  Package.resolved
  Sources/ISOInspectorApp/Inspector/InspectorColumnVisibility.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
  Tests/ISOInspectorAppTests/Inspector/InspectorColumnVisibilityTests.swift
  todo.md
Due: swift-format-all

Update iOS minimal version
  Project.swift
Due: swift-format-all

Try to fix navsplitview, but no success
  DOCS/INPROGRESS/244_NavigationSplitView_Parity_With_Demo.md
  DOCS/INPROGRESS/Summary_of_Work.md
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
Due: swift-format-all

Update NavigationSplitView support and some UI layout and style
  FoundationUI/DOCS/README.md
  FoundationUI/DOCS/RULES/01_SwiftUI_Previews_Guidelines.md
  FoundationUI/Sources/FoundationUI/Components/Badge.swift
  FoundationUI/Sources/FoundationUI/Modifiers/BadgeChipStyle.swift
  FoundationUI/Tests/FoundationUITests/AccessibilityTests/BadgeAccessibilityTests.swift
  FoundationUI/Tests/FoundationUITests/ComponentsTests/BadgeTests.swift
  ISOInspector.xcodeproj/project.pbxproj
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/Detail/ParseTreeDetailView.swift
  Sources/ISOInspectorApp/Inspector/InspectorColumnVisibility.swift
  Sources/ISOInspectorApp/Inspector/InspectorDetailView.swift
  Sources/ISOInspectorApp/Integrity/IntegritySummaryView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
  Tests/ISOInspectorAppTests/Inspector/InspectorColumnVisibilityTests.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Fix inspector
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
Due: swift-format-all

Fix Inspector panel layout
  FoundationUI/Sources/FoundationUI/Patterns/InspectorPattern.swift
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/Integrity/IntegritySummaryView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

243 continue working and fixing
  DOCS/INPROGRESS/Summary_of_Work.md
  ISOInspector.xcodeproj/project.pbxproj
  Sources/ISOInspectorApp/Inspector/InspectorColumnVisibility.swift
  Tests/ISOInspectorAppTests/Inspector/InspectorColumnVisibilityTests.swift
Due: swift-format-all

Reinstate SwiftLint complexity thresholds
  .githooks/pre-commit
  .github/workflows/swiftlint.yml
  .swiftlint.yml
  DOCS/AI/ISOInspector_Execution_Guide/04_TODO_Workplan.md
  DOCS/INPROGRESS/A7_SwiftLint_Complexity_Thresholds.md
  DOCS/INPROGRESS/Summary_of_Work.md
  DOCS/INPROGRESS/next_tasks.md
  README.md
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorKit/Export/JSONParseTreeExporter.swift
  Sources/ISOInspectorKit/Validation/BoxValidator.swift
  todo.md
Due: validate-github-workflows, swift-format-all

Refactored the JSON exporter so it now passes the type_body_length gate and brought the A7 docs up to date.
  DOCS/INPROGRESS/A7_SwiftLint_Complexity_Thresholds.md
  Sources/ISOInspectorKit/Export/JSONParseTreeExporter.swift
  todo.md
Due: swift-format-all

bug
  DOCS/AI/ISOInspector_Execution_Guide/04_TODO_Workplan.md
  DOCS/INPROGRESS/235_Sendable_SmokeTest_Build_Failure.md
  DOCS/INPROGRESS/next_tasks.md
  todo.md
Due: none

Prefix method calls with self in DocumentSessionController.swift
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
Due: swift-format-all

Fixed the strict-concurrency Sendable regression and got the smoke tests running again.
  DOCS/AI/ISOInspector_Execution_Guide/04_TODO_Workplan.md
  DOCS/INPROGRESS/235_Sendable_SmokeTest_Build_Failure.md
  DOCS/INPROGRESS/next_tasks.md
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorApp/State/WindowSessionController.swift
  Tests/ISOInspectorAppTests/AppShellViewErrorBannerTests.swift
  Tests/ISOInspectorAppTests/DocumentSessionControllerTests.swift
  Tests/ISOInspectorAppTests/TestSupport/DocumentSessionTestStubs.swift
  todo.md
Due: swift-format-all

• Fix Applied
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
Due: swift-format-all

Try to fix SwiftLint on pre commit/push
  Sources/ISOInspectorApp/AppShellView.swift
Due: swift-format-all

Add SwiftLint baseline support and refactor JSONParseTreeExporter
  .githooks/pre-commit
  .githooks/pre-push
  .github/workflows/ci.yml
  .github/workflows/swift-linux.yml
  .github/workflows/swiftlint.yml
  .swiftlint.baseline.json
  DOCS/INPROGRESS/Summary_of_Work.md
  Examples/ComponentTestApp/.swiftlint-baseline.json
  README.md
  Sources/ISOInspectorKit/Export/JSONParseTreeExporter.swift
Due: validate-github-workflows, swift-format-all

Add local CI execution scripts for macOS (A11)
  .local-ci-config.example
  DOCS/AI/ISOInspector_Execution_Guide/04_TODO_Workplan.md
  DOCS/AI/github-workflows/04_local_ci_macos/Summary.md
  DOCS/AI/github-workflows/04_local_ci_macos/TODO.md
  DOCS/AI/github-workflows/04_local_ci_macos/prd.md
  scripts/local-ci/README.md
  scripts/local-ci/lib/ci-env.sh
  scripts/local-ci/lib/common.sh
  scripts/local-ci/lib/docker-helpers.sh
  scripts/local-ci/run-all.sh
  scripts/local-ci/run-build.sh
  scripts/local-ci/run-lint.sh
  scripts/local-ci/run-tests.sh
Due: none

Task A11 Status: ✅ VALIDATED & PRODUCTION-READY - All scripts execute successfully - Bug fixes applied - Comprehensive documentation created - Ready for team use
  DOCS/AI/github-workflows/04_local_ci_macos/ValidationReport.md
  scripts/local-ci/lib/ci-env.sh
  scripts/local-ci/lib/common.sh
  scripts/local-ci/lib/docker-helpers.sh
  scripts/local-ci/run-all.sh
Due: none

Tuist fix
  DOCS/AI/github-workflows/04_local_ci_macos/ValidationReport.md
  scripts/local-ci/lib/ci-env.sh
Due: none

iOS Simulator Destination Specification (CRITICAL) - FIXED ✅
  DOCS/AI/github-workflows/04_local_ci_macos/ValidationReport.md
  scripts/local-ci/lib/ci-env.sh
  scripts/local-ci/run-build.sh
  scripts/local-ci/run-tests.sh
Due: none

Add Linux support to local-ci scripts
  scripts/local-ci/lib/ci-env.sh
  scripts/local-ci/lib/common.sh
  scripts/local-ci/run-build.sh
  scripts/local-ci/run-lint.sh
  scripts/local-ci/run-tests.sh
Due: none

Make Swift required for Linux - fail early with clear instructions
  scripts/local-ci/lib/ci-env.sh
  scripts/local-ci/run-build.sh
  scripts/local-ci/run-lint.sh
  scripts/local-ci/run-tests.sh
Due: none

Fix working directory restoration in SwiftLint source build
  scripts/local-ci/lib/ci-env.sh
Due: none

Add SwiftLint suppressions to remaining Services files
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
  Sources/ISOInspectorApp/State/Services/ExportService.swift
  Sources/ISOInspectorApp/State/Services/ValidationConfigurationService.swift
Due: swift-format-all

Fix CI build failure after DocumentSessionController refactoring
  ISOInspector.xcodeproj/project.pbxproj
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
  Sources/ISOInspectorApp/State/Services/ExportService.swift
  Sources/ISOInspectorApp/State/Services/ValidationConfigurationService.swift
Due: swift-format-all

Update CI failure analysis - build error fixed
  CI_FAILURE_ANALYSIS.md
Due: none

Document SwiftLint ValidationRules suppressions
  CI_FAILURE_ANALYSIS.md
Due: none

Fix MappedValue initialization errors in JSONParseTreeExporter
  Sources/ISOInspectorKit/Export/JSONParseTreeExporter.swift
Due: swift-format-all
