Repository SoundBlaster/ISOInspector: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-github-workflows, swiftlint-foundationui, swiftlint-componenttestapp, swift-build-foundationui, swift-format-all, swift-test-foundationui

.pre-commit-config.yaml:

# Pre-commit hook configuration for FoundationUI
# Install: pip install pre-commit && pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files

repos:
  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        name: Check YAML syntax
        description: Validate YAML files including GitHub Actions workflows
        stages: [pre-commit]

      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
        description: Prevent accidentally committing large files
        stages: [pre-commit]

      - id: trailing-whitespace
        name: Trim trailing whitespace
        description: Remove trailing whitespace from all files
        stages: [pre-commit]

      - id: end-of-file-fixer
        name: Fix end of files
        description: Ensure files end with a newline
        stages: [pre-commit]
  # GitHub Actions workflow validation
  - repo: local
    hooks:
      - id: validate-github-workflows
        name: Validate GitHub Actions workflows
        entry: sh -c 'for file in "$@"; do python3 -c "import yaml; yaml.safe_load(open(\"$file\"))" || exit 1; done'
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        types: [yaml]
        stages: [pre-commit]
        description: Validate GitHub Actions workflow YAML syntax

  # Swift linting with SwiftLint
  - repo: local
    hooks:
      - id: swiftlint-foundationui
        name: SwiftLint (FoundationUI)
        entry: sh -c 'cd FoundationUI && swiftlint --config .swiftlint.yml --strict'
        language: system
        files: ^FoundationUI/.*\.swift$
        types: [swift]
        stages: [pre-commit]
        description: Run SwiftLint on FoundationUI source files

      - id: swiftlint-componenttestapp
        name: SwiftLint (ComponentTestApp)
        entry: swiftlint --strict
        language: system
        files: ^Examples/ComponentTestApp/.*\.swift$
        types: [swift]
        stages: [pre-commit]
        description: Run SwiftLint on ComponentTestApp source files

      - id: swift-build-foundationui
        name: Swift Build (FoundationUI)
        entry: sh -c 'cd FoundationUI && swift build && echo "Build successful"'
        language: system
        files: ^FoundationUI/.*\.swift$
        types: [swift]
        stages: [pre-push]
        description: Verify FoundationUI builds successfully before push

      - id: swift-format-all
        name: Swift Format (Auto-format)
        entry: swift format --in-place
        language: system
        types: [swift]
        stages: [pre-commit]
        description: Auto-format Swift files with swift-format before commit

      - id: swift-test-foundationui
        name: Swift Tests (FoundationUI)
        entry: sh -c 'cd FoundationUI && swift test'
        language: system
        files: ^FoundationUI/(Sources|Tests)/.*\.swift$
        types: [swift]
        stages: [pre-push]
        description: Run unit tests before push

  # Git hooks for commit messages
  - repo: local
    hooks:
      - id: commit-message-format
        name: Commit Message Format
        entry: sh -c 'echo "Commit message validation passed"'
        language: system
        stages: [pre-commit]
        description: Validate commit message format (task #XX references)

# Additional pre-commit configurations
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: false
  skip: []
  submodules: false

Simplify ParseTreeBuilder
  Sources/ISOInspectorKit/Export/ParseTree/ParseTreeBuilder.swift
Due: swift-format-all

Add SwiftLint baseline support and refactor JSONParseTreeExporter
  .githooks/pre-commit
  .githooks/pre-push
  .github/workflows/ci.yml
  .github/workflows/swift-linux.yml
  .github/workflows/swiftlint.yml
  .swiftlint.baseline.json
  DOCS/INPROGRESS/Summary_of_Work.md
  Examples/ComponentTestApp/.swiftlint-baseline.json
  README.md
  Sources/ISOInspectorKit/Export/JSONParseTreeExporter.swift
Due: validate-github-workflows, swift-format-all

Document SwiftLint ValidationRules suppressions
  CI_FAILURE_ANALYSIS.md
Due: none

Simplify ParsePipeline
  ISOInspector.xcodeproj/project.pbxproj
  Sources/ISOInspectorKit/ISO/EditListEnvironmentCoordinator.swift
  Sources/ISOInspectorKit/ISO/FragmentEnvironmentCoordinator.swift
  Sources/ISOInspectorKit/ISO/MetadataEnvironmentCoordinator.swift
  Sources/ISOInspectorKit/ISO/ParsePipeline.swift
  Sources/ISOInspectorKit/ISO/RandomAccessIndexCoordinator.swift
Due: swift-format-all

Task A7: Complete large file refactoring - BoxValidator & DocumentSessionController
  DOCS/INPROGRESS/A7_SwiftLint_Complexity_Thresholds.md
  DOCS/INPROGRESS/Summary_of_Work.md
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorApp/State/Services/BookmarkService.swift
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
  Sources/ISOInspectorApp/State/Services/ExportService.swift
  Sources/ISOInspectorApp/State/Services/ParseCoordinationService.swift
  Sources/ISOInspectorApp/State/Services/RecentsService.swift
  Sources/ISOInspectorApp/State/Services/SessionPersistenceService.swift
  Sources/ISOInspectorApp/State/Services/ValidationConfigurationService.swift
  Sources/ISOInspectorKit/Validation/BoxValidator.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/BoxValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/CodecConfigurationValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/ContainerBoundaryRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/EditListValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/FileTypeOrderingRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/FragmentRunValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/FragmentSequenceRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/MovieDataOrderingRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/SampleTableCorrelationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/StructuralSizeRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/TopLevelOrderingAdvisoryRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/UnknownBoxRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/VersionFlagsRule.swift
  todo.md
Due: swift-format-all

Change isAccessibilityCategory to fileprivate for broader scope within module
  FoundationUI/Sources/FoundationUI/Contexts/AccessibilityContext.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Fix SwiftLint rules
  .githooks/pre-commit
  .githooks/pre-push
  .github/workflows/swiftlint.yml
  FoundationUI/Sources/FoundationUI/.swiftlint.yml
  README.md
  scripts/local-ci/lib/docker-helpers.sh
  scripts/local-ci/run-lint.sh
Due: validate-github-workflows

Document SwiftLint version fix in CI_FAILURE_ANALYSIS.md
  CI_FAILURE_ANALYSIS.md
Due: none

Refactor range calculation for clarity in test case
  Tests/ISOInspectorKitTests/SaioSampleAuxInfoOffsetsParserTests.swift
Due: swift-format-all

Refactor InteractiveStyle to use let bindings in body
  FoundationUI/Sources/FoundationUI/Modifiers/InteractiveStyle.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Make View extension helper private and simplify formatting
  FoundationUI/Sources/FoundationUI/Components/KeyValueRow.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Update CI failure analysis - all build errors fixed
  CI_FAILURE_ANALYSIS.md
Due: none

Reinstate SwiftLint complexity thresholds
  .githooks/pre-commit
  .github/workflows/swiftlint.yml
  .swiftlint.yml
  DOCS/AI/ISOInspector_Execution_Guide/04_TODO_Workplan.md
  DOCS/INPROGRESS/A7_SwiftLint_Complexity_Thresholds.md
  DOCS/INPROGRESS/Summary_of_Work.md
  DOCS/INPROGRESS/next_tasks.md
  README.md
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorKit/Export/JSONParseTreeExporter.swift
  Sources/ISOInspectorKit/Validation/BoxValidator.swift
  todo.md
Due: validate-github-workflows, swift-format-all

bug
  DOCS/AI/ISOInspector_Execution_Guide/04_TODO_Workplan.md
  DOCS/INPROGRESS/235_Sendable_SmokeTest_Build_Failure.md
  DOCS/INPROGRESS/next_tasks.md
  todo.md
Due: none

Document compilation errors and remaining SwiftLint violations
  CI_FAILURE_ANALYSIS.md
Due: none

Archive 1 resolved tasks
  DOCS/TASK_ARCHIVE/235_Resolved_Tasks_Batch/A7_SwiftLint_Complexity_Thresholds.md
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Document A8 test coverage gate selection
  DOCS/INPROGRESS/A8_Test_Coverage_Gate.md
  DOCS/INPROGRESS/next_tasks.md
Due: none

Add coverage gate to hooks and CI
  .githooks/pre-push
  .github/workflows/ci.yml
  DOCS/AI/ISOInspector_Execution_Guide/04_TODO_Workplan.md
  DOCS/INPROGRESS/A8_Test_Coverage_Gate.md
  DOCS/INPROGRESS/Summary_of_Work.md
  DOCS/INPROGRESS/next_tasks.md
  todo.md
Due: validate-github-workflows

Run CI on FoundationUI changes
  .github/workflows/ci.yml
Due: validate-github-workflows

Archive A8 & Select A10
  DOCS/INPROGRESS/A10_Swift_Duplication_Detection.md
  DOCS/INPROGRESS/next_tasks.md
  DOCS/TASK_ARCHIVE/236_Resolved_Tasks_Batch/A8_Test_Coverage_Gate.md
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Implement A10
  .githooks/pre-push
  .github/workflows/swift-duplication.yml
  DOCS/AI/ISOInspector_Execution_Guide/04_TODO_Workplan.md
  DOCS/AI/github-workflows/02_swift_duplication_guard/prd.md
  DOCS/INPROGRESS/A10_Swift_Duplication_Detection.md
  DOCS/INPROGRESS/Summary_of_Work.md
  DOCS/INPROGRESS/next_tasks.md
  Sources/ISOInspectorKit/TestSupport/InMemoryRandomAccessReader.swift
  Tests/ISOInspectorAppTests/TestSupport/InMemoryRandomAccessReader.swift
  scripts/run_swift_duplication_check.sh
  todo.md
Due: validate-github-workflows, swift-format-all

Code Quality reports
  Documentation/Quality/foundationui-coverage-report-20251210-231338.txt
  Documentation/Quality/swift-duplication-report-20251210-231359.txt
Due: none

Add npm lock
  .github/workflows/swift-duplication.yml
  Documentation/Quality/foundationui-coverage-report-20251210-231550.txt
  Documentation/Quality/swift-duplication-report-20251210-231601.txt
Due: validate-github-workflows

Fix documentation for A10
  DOCS/INPROGRESS/A10_Swift_Duplication_Detection.md
Due: none

Update the Task 245
  DOCS/AI/ISOViewer/ISOInspector_PRD_TODO.md
  DOCS/INPROGRESS/245_Adopt_SwiftUI_Inspector_API_for_ISOInspectorApp.md
Due: none

Select Task 243
  DOCS/INPROGRESS/243_Reorganize_Navigation_SplitView_Inspector_Panel.md
  DOCS/INPROGRESS/next_tasks.md
Due: none

Decline Task 243
  DOCS/INPROGRESS/243_Reorganize_Navigation_SplitView_Inspector_Panel.md
  DOCS/INPROGRESS/next_tasks.md
Due: none

Decline Task 244 and 245
  DOCS/INPROGRESS/244_NavigationSplitView_Parity_With_Demo.md
  DOCS/INPROGRESS/245_Adopt_SwiftUI_Inspector_API_for_ISOInspectorApp.md
Due: none

Archive 243-245
  DOCS/INPROGRESS/next_tasks.md
  DOCS/TASK_ARCHIVE/100_Declined_Tasks_243_245/243_Reorganize_Navigation_SplitView_Inspector_Panel.md
  DOCS/TASK_ARCHIVE/100_Declined_Tasks_243_245/244_NavigationSplitView_Parity_With_Demo.md
  DOCS/TASK_ARCHIVE/100_Declined_Tasks_243_245/245_Adopt_SwiftUI_Inspector_API_for_ISOInspectorApp.md
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Archived Task A10 per ARCHIVE instructions.
  DOCS/TASK_ARCHIVE/237_Resolved_Tasks_Batch/A10_Swift_Duplication_Detection.md
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none
