Repository SoundBlaster/ISOInspector: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-github-workflows, swiftlint-foundationui, swiftlint-componenttestapp, swift-build-foundationui, swift-format-all, swift-test-foundationui

.pre-commit-config.yaml:

# Pre-commit hook configuration for FoundationUI
# Install: pip install pre-commit && pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files

repos:
  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        name: Check YAML syntax
        description: Validate YAML files including GitHub Actions workflows
        stages: [pre-commit]

      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
        description: Prevent accidentally committing large files
        stages: [pre-commit]

      - id: trailing-whitespace
        name: Trim trailing whitespace
        description: Remove trailing whitespace from all files
        stages: [pre-commit]

      - id: end-of-file-fixer
        name: Fix end of files
        description: Ensure files end with a newline
        stages: [pre-commit]
  # GitHub Actions workflow validation
  - repo: local
    hooks:
      - id: validate-github-workflows
        name: Validate GitHub Actions workflows
        entry: sh -c 'for file in "$@"; do python3 -c "import yaml; yaml.safe_load(open(\"$file\"))" || exit 1; done'
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        types: [yaml]
        stages: [pre-commit]
        description: Validate GitHub Actions workflow YAML syntax

  # Swift linting with SwiftLint
  - repo: local
    hooks:
      - id: swiftlint-foundationui
        name: SwiftLint (FoundationUI)
        entry: sh -c 'cd FoundationUI && swiftlint --config .swiftlint.yml --strict'
        language: system
        files: ^FoundationUI/.*\.swift$
        types: [swift]
        stages: [pre-commit]
        description: Run SwiftLint on FoundationUI source files

      - id: swiftlint-componenttestapp
        name: SwiftLint (ComponentTestApp)
        entry: swiftlint --strict
        language: system
        files: ^Examples/ComponentTestApp/.*\.swift$
        types: [swift]
        stages: [pre-commit]
        description: Run SwiftLint on ComponentTestApp source files

      - id: swift-build-foundationui
        name: Swift Build (FoundationUI)
        entry: sh -c 'cd FoundationUI && swift build && echo "Build successful"'
        language: system
        files: ^FoundationUI/.*\.swift$
        types: [swift]
        stages: [pre-push]
        description: Verify FoundationUI builds successfully before push

      - id: swift-format-all
        name: Swift Format (Auto-format)
        entry: swift format --in-place
        language: system
        types: [swift]
        stages: [pre-commit]
        description: Auto-format Swift files with swift-format before commit

      - id: swift-test-foundationui
        name: Swift Tests (FoundationUI)
        entry: sh -c 'cd FoundationUI && swift test'
        language: system
        files: ^FoundationUI/(Sources|Tests)/.*\.swift$
        types: [swift]
        stages: [pre-push]
        description: Run unit tests before push

  # Git hooks for commit messages
  - repo: local
    hooks:
      - id: commit-message-format
        name: Commit Message Format
        entry: sh -c 'echo "Commit message validation passed"'
        language: system
        stages: [pre-commit]
        description: Validate commit message format (task #XX references)

# Additional pre-commit configurations
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: false
  skip: []
  submodules: false

fix: Replace NavigationSplitViewKit with custom NavigationModel using native SwiftUI
  FoundationUI/FoundationUI.xcodeproj/project.pbxproj
  FoundationUI/Package.resolved
  FoundationUI/Package.swift
  FoundationUI/Project.swift
  FoundationUI/Sources/FoundationUI/Models/NavigationModel.swift
  FoundationUI/Sources/FoundationUI/Patterns/InspectorPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/NavigationSplitScaffold.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/ToolbarPattern.swift
  FoundationUI/Tests/FoundationUITests/IntegrationTests/NavigationScaffoldIntegrationTests.swift
  FoundationUI/Tests/FoundationUITests/PatternsTests/NavigationSplitScaffoldTests.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

docs: Retrospective task selection documentation for Task 241
  DOCS/INPROGRESS/Task_241_Selection.md
Due: none

feat: Integrate existing patterns with NavigationSplitScaffold (Task 242)
  DOCS/INPROGRESS/Summary_of_Work_Task_242.md
  FoundationUI/Sources/FoundationUI/Patterns/InspectorPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/ToolbarPattern.swift
  FoundationUI/Tests/FoundationUITests/IntegrationTests/NavigationScaffoldIntegrationTests.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

fix: Add @preconcurrency to NavigationSplitViewKit imports for Swift 6.0
  FoundationUI/Sources/FoundationUI/Patterns/InspectorPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/NavigationSplitScaffold.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/ToolbarPattern.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

fix: Create NavigationModel locally, remove non-existent package dependency
  FoundationUI/Package.swift
  FoundationUI/Project.swift
  FoundationUI/Sources/FoundationUI/Models/NavigationModel.swift
  FoundationUI/Sources/FoundationUI/Patterns/InspectorPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/NavigationSplitScaffold.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/ToolbarPattern.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

fix: Use branch reference for NavigationSplitViewKit (no tags yet)
  FoundationUI/Package.swift
  FoundationUI/Project.swift
  FoundationUI/Sources/FoundationUI/Models/NavigationModel.swift
  FoundationUI/Sources/FoundationUI/Patterns/InspectorPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/NavigationSplitScaffold.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/ToolbarPattern.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

feat: Integrate NavigationSplitViewKit dependency (Task 240)
  .github/workflows/foundationui.yml
  DOCS/INPROGRESS/240_NavigationSplitViewKit_Integration.md
  DOCS/INPROGRESS/Summary_of_Work_Task_240.md
  FoundationUI/BUILD.md
  FoundationUI/Package.swift
  FoundationUI/Project.swift
  FoundationUI/README.md
Due: validate-github-workflows, swiftlint-foundationui, swift-build-foundationui, swift-format-all

fix: Bump FoundationUI deployment target to iOS 17.0
  FoundationUI/Project.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all

docs: Add NavigationSplitView usage guidelines for ISOInspector
  DOCS/AI/ISOViewer/NavigationSplitView_Guidelines.md
Due: none

docs: Integrate Task 243 – Move Selection Details & Integrity Summary to Inspector Column
  DOCS/AI/ISOViewer/NavigationSplitView_Guidelines.md
  DOCS/INPROGRESS/243_Reorganize_Navigation_SplitView_Inspector_Panel.md
  DOCS/INPROGRESS/243_Summary_NEW_Command_Execution.md
  DOCS/INPROGRESS/next_tasks.md
Due: none

Archive 1 resolved tasks
  DOCS/TASK_ARCHIVE/233_Resolved_Tasks_Batch/Task_241_Selection.md
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Archive 5 resolved tasks (240, 241, 242)
  DOCS/TASK_ARCHIVE/234_Resolved_Tasks_Batch/240_NavigationSplitViewKit_Integration.md
  DOCS/TASK_ARCHIVE/234_Resolved_Tasks_Batch/242_Update_Existing_Patterns_For_NavigationSplitScaffold.md
  DOCS/TASK_ARCHIVE/234_Resolved_Tasks_Batch/Summary_of_Work_Task_240.md
  DOCS/TASK_ARCHIVE/234_Resolved_Tasks_Batch/Summary_of_Work_Task_241.md
  DOCS/TASK_ARCHIVE/234_Resolved_Tasks_Batch/Summary_of_Work_Task_242.md
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

docs: Add comprehensive project state report (2025-11-19)
  PROJECT_STATE_REPORT_2025-11-19.md
Due: none

docs: Remove Bug #232 from next_tasks.md (resolved 2025-11-19)
  DOCS/INPROGRESS/next_tasks.md
Due: none

docs: Clean up next_tasks.md after archiving Tasks 240-242
  DOCS/INPROGRESS/next_tasks.md
Due: none

Refactor navigation
  Derived/Sources/TuistAssets+ISOInspectorAppIOS.swift
  Derived/Sources/TuistAssets+ISOInspectorAppIPadOS.swift
  Derived/Sources/TuistAssets+ISOInspectorAppMacOS.swift
  Derived/Sources/TuistBundle+ISOInspectorAppIOS.swift
  Derived/Sources/TuistBundle+ISOInspectorAppIPadOS.swift
  Derived/Sources/TuistBundle+ISOInspectorAppMacOS.swift
  Derived/Sources/TuistBundle+ISOInspectorKit.swift
  Derived/Sources/TuistBundle+ISOInspectorKitTests.swift
  ISOInspector.xcodeproj/project.pbxproj
  Sources/ISOInspectorApp/Accessibility/ParseTreeAccessibilityID.swift
  Sources/ISOInspectorApp/Inspector/InspectorDetailView.swift
  Sources/ISOInspectorApp/Inspector/InspectorDisplayMode.swift
  Sources/ISOInspectorApp/State/WindowSessionController.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
  Tests/ISOInspectorAppTests/Inspector/InspectorDisplayModeTests.swift
  Tests/ISOInspectorAppTests/ParseTreeAccessibilityIdentifierTests.swift
  todo.md
Due: swift-format-all

Add NavigationSplitView inspector visibility control
  DOCS/INPROGRESS/Summary_of_Work.md
  Package.resolved
  Sources/ISOInspectorApp/Inspector/InspectorColumnVisibility.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
  Tests/ISOInspectorAppTests/Inspector/InspectorColumnVisibilityTests.swift
  todo.md
Due: swift-format-all

243 continue working and fixing
  DOCS/INPROGRESS/Summary_of_Work.md
  ISOInspector.xcodeproj/project.pbxproj
  Sources/ISOInspectorApp/Inspector/InspectorColumnVisibility.swift
  Tests/ISOInspectorAppTests/Inspector/InspectorColumnVisibilityTests.swift
Due: swift-format-all

Try to fix navsplitview, but no success
  DOCS/INPROGRESS/244_NavigationSplitView_Parity_With_Demo.md
  DOCS/INPROGRESS/Summary_of_Work.md
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
Due: swift-format-all

Trying to fix split view navigation
  DOCS/INPROGRESS/245_Adopt_SwiftUI_Inspector_API_for_ISOInspectorApp.md
  DOCS/INPROGRESS/246_Bug_NavigationSplit_Width_Overflow.md
  DOCS/INPROGRESS/Summary_of_Work.md
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/Inspector/InspectorDetailView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
  todo.md
Due: swift-format-all

Fix inspector
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
Due: swift-format-all

Change SwiftLint rule for indentation
  .swift-format.json
Due: none

Fix Inspector panel layout
  FoundationUI/Sources/FoundationUI/Patterns/InspectorPattern.swift
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/Integrity/IntegritySummaryView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Update iOS minimal version
  Project.swift
Due: swift-format-all

Update NavigationSplitView support and some UI layout and style
  FoundationUI/DOCS/README.md
  FoundationUI/DOCS/RULES/01_SwiftUI_Previews_Guidelines.md
  FoundationUI/Sources/FoundationUI/Components/Badge.swift
  FoundationUI/Sources/FoundationUI/Modifiers/BadgeChipStyle.swift
  FoundationUI/Tests/FoundationUITests/AccessibilityTests/BadgeAccessibilityTests.swift
  FoundationUI/Tests/FoundationUITests/ComponentsTests/BadgeTests.swift
  ISOInspector.xcodeproj/project.pbxproj
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/Detail/ParseTreeDetailView.swift
  Sources/ISOInspectorApp/Inspector/InspectorColumnVisibility.swift
  Sources/ISOInspectorApp/Inspector/InspectorDetailView.swift
  Sources/ISOInspectorApp/Integrity/IntegritySummaryView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
  Tests/ISOInspectorAppTests/Inspector/InspectorColumnVisibilityTests.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Fix Desing System usage
  Examples/ComponentTestApp/ComponentTestApp/Screens/DesignTokensScreen.swift
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/Detail/ParseTreeDetailView.swift
  Sources/ISOInspectorApp/Integrity/IntegritySummaryView.swift
  Sources/ISOInspectorApp/ResearchLogAuditPreview.swift
  Sources/ISOInspectorApp/Settings/ValidationSettingsView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
  Sources/ISOInspectorApp/UI/Components/BoxPickerView.swift
  Sources/ISOInspectorApp/UI/Components/BoxTextInputView.swift
  Sources/ISOInspectorApp/UI/Components/BoxToggleView.swift
  Tests/ISOInspectorAppTests/FoundationUI/BoxMetadataRowComponentTests.swift
Due: swiftlint-componenttestapp, swift-format-all

Fix spacings
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/Detail/ParseTreeDetailView.swift
  Sources/ISOInspectorApp/Integrity/IntegritySummaryView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
Due: swift-format-all

Fix Tuist cache hashing paths # Conflicts: # DOCS/INPROGRESS/Summary_of_Work.md # Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
  .github/workflows/foundationui.yml
Due: validate-github-workflows

TMP fix for GitHub runners issue with hashFiles
  .github/workflows/foundationui.yml
Due: validate-github-workflows

Add task for restoration hashFiles in FoundationUI macOS workflow
  todo.md
Due: none

Add timeout in the `testAccessibleButtonModifierOnRealButton` test
  FoundationUI/Tests/FoundationUITests/IntegrationTests/UtilityIntegrationTests/AccessibilityHelpersIntegrationTests.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Work around hashFiles regression on macOS runners
  .github/workflows/foundationui.yml
  DOCS/INPROGRESS/Summary_of_Work.md
  Package.resolved
  Sources/ISOInspectorApp/Inspector/InspectorColumnVisibility.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
  Tests/ISOInspectorAppTests/Inspector/InspectorColumnVisibilityTests.swift
  todo.md
Due: validate-github-workflows, swift-format-all
