Repository SoundBlaster/ISOInspector: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-github-workflows, swiftlint-foundationui, swiftlint-componenttestapp, swift-build-foundationui, swift-format-all, swift-test-foundationui

.pre-commit-config.yaml:

# Pre-commit hook configuration for FoundationUI
# Install: pip install pre-commit && pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files

repos:
  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        name: Check YAML syntax
        description: Validate YAML files including GitHub Actions workflows
        stages: [pre-commit]

      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
        description: Prevent accidentally committing large files
        stages: [pre-commit]

      - id: trailing-whitespace
        name: Trim trailing whitespace
        description: Remove trailing whitespace from all files
        stages: [pre-commit]

      - id: end-of-file-fixer
        name: Fix end of files
        description: Ensure files end with a newline
        stages: [pre-commit]
  # GitHub Actions workflow validation
  - repo: local
    hooks:
      - id: validate-github-workflows
        name: Validate GitHub Actions workflows
        entry: sh -c 'for file in "$@"; do python3 -c "import yaml; yaml.safe_load(open(\"$file\"))" || exit 1; done'
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        types: [yaml]
        stages: [pre-commit]
        description: Validate GitHub Actions workflow YAML syntax

  # Swift linting with SwiftLint
  - repo: local
    hooks:
      - id: swiftlint-foundationui
        name: SwiftLint (FoundationUI)
        entry: sh -c 'cd FoundationUI && swiftlint --config .swiftlint.yml --strict'
        language: system
        files: ^FoundationUI/.*\.swift$
        types: [swift]
        stages: [pre-commit]
        description: Run SwiftLint on FoundationUI source files

      - id: swiftlint-componenttestapp
        name: SwiftLint (ComponentTestApp)
        entry: swiftlint --strict
        language: system
        files: ^Examples/ComponentTestApp/.*\.swift$
        types: [swift]
        stages: [pre-commit]
        description: Run SwiftLint on ComponentTestApp source files

      - id: swift-build-foundationui
        name: Swift Build (FoundationUI)
        entry: sh -c 'cd FoundationUI && swift build && echo "Build successful"'
        language: system
        files: ^FoundationUI/.*\.swift$
        types: [swift]
        stages: [pre-push]
        description: Verify FoundationUI builds successfully before push

      - id: swift-format-all
        name: Swift Format (Auto-format)
        entry: swift format --in-place
        language: system
        types: [swift]
        stages: [pre-commit]
        description: Auto-format Swift files with swift-format before commit

      - id: swift-test-foundationui
        name: Swift Tests (FoundationUI)
        entry: sh -c 'cd FoundationUI && swift test'
        language: system
        files: ^FoundationUI/(Sources|Tests)/.*\.swift$
        types: [swift]
        stages: [pre-push]
        description: Run unit tests before push

  # Git hooks for commit messages
  - repo: local
    hooks:
      - id: commit-message-format
        name: Commit Message Format
        entry: sh -c 'echo "Commit message validation passed"'
        language: system
        stages: [pre-commit]
        description: Validate commit message format (task #XX references)

# Additional pre-commit configurations
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: false
  skip: []
  submodules: false

docs: Update ARCHIVE.md with new interactive mode and output format features
  DOCS/COMMANDS/ARCHIVE.md
Due: none

fix: Update actions/setup-python from v4 to v5 in script-tests workflow
  .github/workflows/script-tests.yml
Due: validate-github-workflows

fix: Update CI test to accept both success states of archive script
  .github/workflows/script-tests.yml
Due: validate-github-workflows

Add Python cache files to .gitignore
  .gitignore
Due: none

Add comprehensive tests and CI for archive script
  .github/workflows/script-tests.yml
  DOCS/COMMANDS/ARCHIVE.md
  DOCS/COMMANDS/ARCHIVE_SCRIPT_GUIDE.md
  scripts/tests/test_archive_completed_tasks.py
Due: validate-github-workflows

Add smart task archiver script to prevent accidental archival of active tasks
  DOCS/COMMANDS/ARCHIVE.md
  scripts/archive_completed_tasks.py
Due: none

feat: Create Task A7 PRD - Reinstate SwiftLint Complexity Thresholds
  DOCS/INPROGRESS/A7_SwiftLint_Complexity_Thresholds.md
Due: none

Restore next task queue and align doc statuses
  DOCS/INPROGRESS/next_tasks.md
  todo.md
Due: none

Clarify task archive summary
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Clarify Bug 231 archive summary
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Update A7 archive summary
  DOCS/TASK_ARCHIVE/229_A7_SwiftLint_Complexity_Thresholds/Summary_of_Work.md
Due: none

Move bug tasks 232-241 to BUGS folder
  DOCS/BUGS/232_UI_Content_Not_Displayed_After_File_Selection.md
  DOCS/BUGS/234_Remove_Recent_File_From_Sidebar.md
  DOCS/BUGS/235_System_Notification_For_Export.md
  DOCS/BUGS/236_Box_Details_Default_Card_Selection.md
  DOCS/BUGS/237_Integrity_Report_Banner_Action.md
  DOCS/BUGS/238_VIR_Issue_Box_Tree_Scroll.md
  DOCS/BUGS/239_Missing_Box_Hex_Preview.md
  DOCS/BUGS/240_TKHD_Flags_Mismatch.md
  DOCS/BUGS/241_Box_Details_Mono_Font.md
Due: none

Archive task 231 multi-window fix
  DOCS/INPROGRESS/next_tasks.md
  DOCS/TASK_ARCHIVE/232_MacOS_iPadOS_MultiWindow_SharedState_Bug/231_MacOS_iPadOS_MultiWindow_SharedState_Bug.md
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Fix archive summary update after moves
  scripts/archive_completed_tasks.py
Due: none

Select next task: NavigationSplitViewKit integration (Task 240)
  DOCS/INPROGRESS/next_tasks.md
  FoundationUI/DOCS/INPROGRESS/240_NavigationSplitViewKit_Integration.md
  FoundationUI/DOCS/INPROGRESS/241_NavigationSplitScaffold_Pattern.md
Due: none

feat: Integrate NavigationSplitViewKit dependency (Task 240)
  .github/workflows/foundationui.yml
  DOCS/INPROGRESS/240_NavigationSplitViewKit_Integration.md
  DOCS/INPROGRESS/Summary_of_Work_Task_240.md
  FoundationUI/BUILD.md
  FoundationUI/Package.swift
  FoundationUI/Project.swift
  FoundationUI/README.md
Due: validate-github-workflows, swiftlint-foundationui, swift-build-foundationui, swift-format-all

docs: Add NavigationSplitView usage guidelines for ISOInspector
  DOCS/AI/ISOViewer/NavigationSplitView_Guidelines.md
Due: none

feat: Implement NavigationSplitScaffold pattern (Task 241)
  DOCS/INPROGRESS/Summary_of_Work_Task_241.md
  FoundationUI/Sources/FoundationUI/Patterns/NavigationSplitScaffold.swift
  FoundationUI/Tests/FoundationUITests/PatternsTests/NavigationSplitScaffoldTests.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

docs: Select next task: Update Existing Patterns (Task 242)
  DOCS/INPROGRESS/242_Update_Existing_Patterns_For_NavigationSplitScaffold.md
  DOCS/INPROGRESS/next_tasks.md
Due: none

docs: Retrospective task selection documentation for Task 241
  DOCS/INPROGRESS/Task_241_Selection.md
Due: none

feat: Integrate existing patterns with NavigationSplitScaffold (Task 242)
  DOCS/INPROGRESS/Summary_of_Work_Task_242.md
  FoundationUI/Sources/FoundationUI/Patterns/InspectorPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/ToolbarPattern.swift
  FoundationUI/Tests/FoundationUITests/IntegrationTests/NavigationScaffoldIntegrationTests.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

fix: Create NavigationModel locally, remove non-existent package dependency
  FoundationUI/Package.swift
  FoundationUI/Project.swift
  FoundationUI/Sources/FoundationUI/Models/NavigationModel.swift
  FoundationUI/Sources/FoundationUI/Patterns/InspectorPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/NavigationSplitScaffold.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/ToolbarPattern.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

fix: Use branch reference for NavigationSplitViewKit (no tags yet)
  FoundationUI/Package.swift
  FoundationUI/Project.swift
  FoundationUI/Sources/FoundationUI/Models/NavigationModel.swift
  FoundationUI/Sources/FoundationUI/Patterns/InspectorPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/NavigationSplitScaffold.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/ToolbarPattern.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Reinstate SwiftLint complexity thresholds
  .githooks/pre-commit
  .github/workflows/swiftlint.yml
  .swiftlint.yml
  DOCS/AI/ISOInspector_Execution_Guide/04_TODO_Workplan.md
  DOCS/INPROGRESS/A7_SwiftLint_Complexity_Thresholds.md
  DOCS/INPROGRESS/Summary_of_Work.md
  DOCS/INPROGRESS/next_tasks.md
  Package.resolved
  README.md
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorKit/Export/JSONParseTreeExporter.swift
  Sources/ISOInspectorKit/Validation/BoxValidator.swift
  todo.md
Due: validate-github-workflows, swift-format-all

fix: Bump FoundationUI deployment target to iOS 17.0
  FoundationUI/Project.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all

fix: Add @preconcurrency to NavigationSplitViewKit imports for Swift 6.0
  FoundationUI/Sources/FoundationUI/Patterns/InspectorPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/NavigationSplitScaffold.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/ToolbarPattern.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

fix: Correct NavigationSplitViewVisibility enum cases and API usage
  FoundationUI/Sources/FoundationUI/Patterns/InspectorPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/NavigationSplitScaffold.swift
  FoundationUI/Sources/FoundationUI/Patterns/ToolbarPattern.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

fix: Replace NavigationSplitViewKit with custom NavigationModel using native SwiftUI
  FoundationUI/FoundationUI.xcodeproj/project.pbxproj
  FoundationUI/Package.resolved
  FoundationUI/Package.swift
  FoundationUI/Project.swift
  FoundationUI/Sources/FoundationUI/Models/NavigationModel.swift
  FoundationUI/Sources/FoundationUI/Patterns/InspectorPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/NavigationSplitScaffold.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/ToolbarPattern.swift
  FoundationUI/Tests/FoundationUITests/IntegrationTests/NavigationScaffoldIntegrationTests.swift
  FoundationUI/Tests/FoundationUITests/PatternsTests/NavigationSplitScaffoldTests.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui
