Repository SoundBlaster/ISOInspector: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-github-workflows, swiftlint-foundationui, swiftlint-componenttestapp, swift-build-foundationui, swift-format-all, swift-test-foundationui

validate-github-workflows:
  name: Validate GitHub Actions workflows
  entry: sh -c 'for file in "$@"; do python3 -c "import yaml; yaml.safe_load(open(\"$file\"))" || exit 1; done'
  language: system
  stages:
  - pre-commit
  description: Validate GitHub Actions workflow YAML syntax

swiftlint-foundationui:
  name: SwiftLint (FoundationUI)
  entry: sh -c 'cd FoundationUI && swiftlint --config .swiftlint.yml --strict'
  language: system
  stages:
  - pre-commit
  description: Run SwiftLint on FoundationUI source files

swiftlint-componenttestapp:
  name: SwiftLint (ComponentTestApp)
  entry: swiftlint --strict
  language: system
  stages:
  - pre-commit
  description: Run SwiftLint on ComponentTestApp source files

swift-build-foundationui:
  name: Swift Build (FoundationUI)
  entry: sh -c 'cd FoundationUI && swift build && echo "Build successful"'
  language: system
  stages:
  - pre-push
  description: Verify FoundationUI builds successfully before push

swift-format-all:
  name: Swift Format (Auto-format)
  entry: swift format --in-place
  language: system
  stages:
  - pre-commit
  description: Auto-format Swift files with swift-format before commit

swift-test-foundationui:
  name: Swift Tests (FoundationUI)
  entry: sh -c 'cd FoundationUI && swift test'
  language: system
  stages:
  - pre-push
  description: Run unit tests before push

Make conditional view modifier method fileprivate and reformat
  FoundationUI/Sources/FoundationUI/Components/KeyValueRow.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Fix MappedValue initialization errors in JSONParseTreeExporter
  Sources/ISOInspectorKit/Export/JSONParseTreeExporter.swift
Due: swift-format-all

Change isAccessibilityCategory from fileprivate to private
  FoundationUI/Sources/FoundationUI/Contexts/AccessibilityContext.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Try to fix SwiftLint on pre commit/push
  Sources/ISOInspectorApp/AppShellView.swift
Due: swift-format-all

Add todos in the code
  Examples/ComponentTestApp/ComponentTestApp/ContentView.swift
  Examples/ComponentTestApp/ComponentTestApp/Models/MockISOBox.swift
  todo.md
Due: swiftlint-componenttestapp, swift-format-all

Add CI failure analysis document for Task A7 refactoring
  CI_FAILURE_ANALYSIS.md
Due: none

Fix CI build failure after DocumentSessionController refactoring
  ISOInspector.xcodeproj/project.pbxproj
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
  Sources/ISOInspectorApp/State/Services/ExportService.swift
  Sources/ISOInspectorApp/State/Services/ValidationConfigurationService.swift
Due: swift-format-all

Disable SwiftFormat `multiElementCollectionTrailingCommas`
  .swift-format
Due: none

SwiftLint fix
  Examples/ComponentTestApp/ComponentTestApp/Screens/AccessibilityTestingScreen.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/BoxTreePatternScreen.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/ISOInspectorDemoScreen.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/PerformanceMonitoringScreen.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/UtilitiesScreen.swift
Due: swiftlint-componenttestapp, swift-format-all

Disable type_body_length for Tests
  Tests/.swiftlint.yml
Due: none

• Fix Applied
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
Due: swift-format-all

Fix macOS build
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
Due: swift-format-all

Remove detailed comments from ISOInspectorDemoScreen.swift header
  Examples/ComponentTestApp/ComponentTestApp/Screens/ISOInspectorDemoScreen.swift
Due: swiftlint-componenttestapp, swift-format-all

Update CI_FAILURE_ANALYSIS.md with string interpolation fix
  CI_FAILURE_ANALYSIS.md
Due: none

Next steps of simplifications
  Sources/ISOInspectorApp/Detail/ParseTreeDetailView.swift
  Sources/ISOInspectorApp/Integrity/IntegritySummaryView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineRow.swift
  Sources/ISOInspectorApp/Tree/ParseTreePreviewData.swift
  Sources/ISOInspectorKit/ISO/ParsePipeline.swift
  Sources/ISOInspectorKit/Validation/ParseIssue.swift
  Sources/ISOInspectorKit/Validation/ValidationIssue.swift
Due: swift-format-all

Fix string interpolation syntax errors in Services
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
  Sources/ISOInspectorApp/State/Services/ExportService.swift
Due: swift-format-all

swiftformat
  Examples/ComponentTestApp/ComponentTestApp/ComponentTestApp.swift
  Examples/ComponentTestApp/ComponentTestApp/Models/MockISOBox.swift
  FoundationUI/Package.swift
  FoundationUI/Sources/FoundationUI/Contexts/PlatformExtensions.swift
  FoundationUI/Sources/FoundationUI/Modifiers/BadgeChipStyle.swift
  FoundationUI/Sources/FoundationUI/Patterns/BoxTreePattern+Previews+Inspector.swift
  FoundationUI/Sources/FoundationUI/Patterns/BoxTreePattern+Previews.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern+Previews.swift
Due: swiftlint-foundationui, swiftlint-componenttestapp, swift-build-foundationui, swift-format-all, swift-test-foundationui

Fix SwiftLint (again)
  .swiftlint.yml
  DOCS/INPROGRESS/A7_SwiftLint_Complexity_Thresholds.md
  Examples/ComponentTestApp/ComponentTestApp/ContentView.swift
  Examples/ComponentTestApp/ComponentTestApp/Models/MockISOBox.swift
  FoundationUI/Sources/FoundationUI/Modifiers/InteractiveStyle.swift
  FoundationUI/Sources/FoundationUI/Patterns/BoxTreePattern+Previews+Inspector.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern+Previews+Dynamic.swift
  Sources/ISOInspectorApp/UI/Components/BoxTextInputView.swift
  Sources/ISOInspectorCLI/CLI.swift
  Sources/ISOInspectorCLI/EventConsoleFormatter.swift
  Sources/ISOInspectorCLI/ISOInspectorCommand.swift
  Sources/ISOInspectorKit/ISO/BoxParserRegistry.swift
  Sources/ISOInspectorKit/ISO/ParsedBoxPayload.swift
  Sources/ISOInspectorKit/Metadata/MP4RACatalogRefresher.swift
  todo.md
Due: swiftlint-foundationui, swiftlint-componenttestapp, swift-build-foundationui, swift-format-all, swift-test-foundationui

Replace deprecated content closure with detail closure in Sidebar previews
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern+Previews+Dynamic.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Fix formatting and accessibility improvements in UI modifiers
  FoundationUI/Sources/FoundationUI/Modifiers/CopyableModifier.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Simplify ParseEventCapturePayload
  Sources/ISOInspectorKit/Export/ParseEvent/ParseEventCapturePayload.swift
Due: swift-format-all

Reformat
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
Due: swift-format-all

Fix SwiftLint issues
  .githooks/pre-commit
  Examples/ComponentTestApp/.swiftlint-baseline.json
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
  Sources/ISOInspectorApp/State/Services/SessionPersistenceService.swift
  Sources/ISOInspectorApp/State/Services/ValidationConfigurationService.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/SampleTableCorrelationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/TopLevelOrderingAdvisoryRule.swift
  scripts/local-ci/lib/ci-env.sh
  scripts/local-ci/lib/docker-helpers.sh
  scripts/local-ci/run-lint.sh
Due: swift-format-all

Add SwiftLint suppressions to remaining Services files
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
  Sources/ISOInspectorApp/State/Services/ExportService.swift
  Sources/ISOInspectorApp/State/Services/ValidationConfigurationService.swift
Due: swift-format-all

Disable type_body_length
  .swiftlint.yml
Due: none

Fix duplicate extension declarations in VersionFlagsRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/VersionFlagsRule.swift
Due: swift-format-all

Refactored the JSON exporter so it now passes the type_body_length gate and brought the A7 docs up to date.
  DOCS/INPROGRESS/A7_SwiftLint_Complexity_Thresholds.md
  Sources/ISOInspectorKit/Export/JSONParseTreeExporter.swift
  todo.md
Due: swift-format-all

Disable linter rule vertical_parameter_alignment
  .swiftlint.yml
  Examples/ComponentTestApp/.swiftlint.yml
  FoundationUI/.swiftlint.yml
  FoundationUI/Sources/FoundationUI/.swiftlint.yml
Due: none

Fix compilation errors from service extraction
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorApp/State/Services/BookmarkService.swift
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
  Sources/ISOInspectorApp/State/Services/ExportService.swift
  Sources/ISOInspectorApp/State/Services/ParseCoordinationService.swift
Due: swift-format-all

Decrease cyclomatic complexity in the ParseTreeStore
  Sources/ISOInspectorApp/State/ParseTreeStore.swift
Due: swift-format-all

Document Services type_body_length suppressions
  CI_FAILURE_ANALYSIS.md
Due: none

Expose isAccessibilityCategory property in DynamicTypeSize extension
  FoundationUI/Sources/FoundationUI/Contexts/AccessibilityContext.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Simplify ParseTreeOutlineViewModel
  ISOInspector.xcodeproj/project.pbxproj
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineViewModel.swift
Due: swift-format-all

disable swiftformat
  .github/workflows/ci.yml
  Examples/ComponentTestApp/ComponentTestApp/Models/MockISOBox.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/ISOInspectorDemoScreen.swift
  README.md
  scripts/local-ci/README.md
  scripts/local-ci/run-all.sh
  scripts/local-ci/run-lint.sh
Due: validate-github-workflows, swiftlint-componenttestapp, swift-format-all

Simplify ParseTreeOutlineView.swift
  ISOInspector.xcodeproj/project.pbxproj
  Sources/ISOInspectorApp/Detail/ParseTreeDetailView.swift
  Sources/ISOInspectorApp/Tree/BoxCategoryExtensions.swift
  Sources/ISOInspectorApp/Tree/CorruptionBadge.swift
  Sources/ISOInspectorApp/Tree/HiddenKeyboardShortcutButton.swift
  Sources/ISOInspectorApp/Tree/ParseStateBadge.swift
  Sources/ISOInspectorApp/Tree/ParseTreeExplorerView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineRowView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
  Sources/ISOInspectorApp/Tree/SeverityBadge.swift
  Sources/ISOInspectorApp/Tree/ValidationIssueSeverityExtensions.swift
  Sources/ISOInspectorApp/Tree/ViewExtensions.swift
Due: swift-format-all

Simplify ParseTreeDetailViewModel
  Sources/ISOInspectorApp/Detail/ParseTreeDetailViewModel.swift
  Sources/ISOInspectorKit/Export/ParseTree/ParseTreeBuilderPlaceholders.swift
Due: swift-format-all

Update CI failure analysis - build error fixed
  CI_FAILURE_ANALYSIS.md
Due: none

Fixed the strict-concurrency Sendable regression and got the smoke tests running again.
  DOCS/AI/ISOInspector_Execution_Guide/04_TODO_Workplan.md
  DOCS/INPROGRESS/235_Sendable_SmokeTest_Build_Failure.md
  DOCS/INPROGRESS/next_tasks.md
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorApp/State/WindowSessionController.swift
  Tests/ISOInspectorAppTests/AppShellViewErrorBannerTests.swift
  Tests/ISOInspectorAppTests/DocumentSessionControllerTests.swift
  Tests/ISOInspectorAppTests/TestSupport/DocumentSessionTestStubs.swift
  todo.md
Due: swift-format-all

Path conditions:
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
  swiftlint-foundationui: any of: ^FoundationUI/.*\.swift$ and \.swift$
  swiftlint-componenttestapp: any of: ^Examples/ComponentTestApp/.*\.swift$ and \.swift$
  swift-build-foundationui: any of: ^FoundationUI/.*\.swift$ and \.swift$
  swift-format-all: any of: \.swift$
  swift-test-foundationui: any of: ^FoundationUI/(Sources|Tests)/.*\.swift$ and \.swift$
