Repository SoundBlaster/ISOInspector: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-github-workflows, swiftlint-foundationui, swiftlint-componenttestapp, swift-build-foundationui, swift-format-all, swift-test-foundationui

validate-github-workflows:
  name: Validate GitHub Actions workflows
  entry: sh -c 'for file in "$@"; do python3 -c "import yaml; yaml.safe_load(open(\"$file\"))" || exit 1; done'
  language: system
  stages:
  - pre-commit
  description: Validate GitHub Actions workflow YAML syntax

swiftlint-foundationui:
  name: SwiftLint (FoundationUI)
  entry: sh -c 'cd FoundationUI && swiftlint --config .swiftlint.yml --strict'
  language: system
  stages:
  - pre-commit
  description: Run SwiftLint on FoundationUI source files

swiftlint-componenttestapp:
  name: SwiftLint (ComponentTestApp)
  entry: swiftlint --strict
  language: system
  stages:
  - pre-commit
  description: Run SwiftLint on ComponentTestApp source files

swift-build-foundationui:
  name: Swift Build (FoundationUI)
  entry: sh -c 'cd FoundationUI && swift build && echo "Build successful"'
  language: system
  stages:
  - pre-push
  description: Verify FoundationUI builds successfully before push

swift-format-all:
  name: Swift Format (Auto-format)
  entry: swift format --in-place
  language: system
  stages:
  - pre-commit
  description: Auto-format Swift files with swift-format before commit

swift-test-foundationui:
  name: Swift Tests (FoundationUI)
  entry: sh -c 'cd FoundationUI && swift test'
  language: system
  stages:
  - pre-push
  description: Run unit tests before push

Prefix method calls with self in DocumentSessionController.swift
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
Due: swift-format-all

Task A7: Complete large file refactoring - BoxValidator & DocumentSessionController
  DOCS/INPROGRESS/A7_SwiftLint_Complexity_Thresholds.md
  DOCS/INPROGRESS/Summary_of_Work.md
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorApp/State/Services/BookmarkService.swift
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
  Sources/ISOInspectorApp/State/Services/ExportService.swift
  Sources/ISOInspectorApp/State/Services/ParseCoordinationService.swift
  Sources/ISOInspectorApp/State/Services/RecentsService.swift
  Sources/ISOInspectorApp/State/Services/SessionPersistenceService.swift
  Sources/ISOInspectorApp/State/Services/ValidationConfigurationService.swift
  Sources/ISOInspectorKit/Validation/BoxValidator.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/BoxValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/CodecConfigurationValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/ContainerBoundaryRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/EditListValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/FileTypeOrderingRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/FragmentRunValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/FragmentSequenceRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/MovieDataOrderingRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/SampleTableCorrelationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/StructuralSizeRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/TopLevelOrderingAdvisoryRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/UnknownBoxRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/VersionFlagsRule.swift
  todo.md
Due: swift-format-all

Update CI_FAILURE_ANALYSIS.md with string interpolation fix
  CI_FAILURE_ANALYSIS.md
Due: none

Document vertical whitespace autocorrect fix
  CI_FAILURE_ANALYSIS.md
Due: none

Fixed the strict-concurrency Sendable regression and got the smoke tests running again.
  DOCS/AI/ISOInspector_Execution_Guide/04_TODO_Workplan.md
  DOCS/INPROGRESS/235_Sendable_SmokeTest_Build_Failure.md
  DOCS/INPROGRESS/next_tasks.md
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorApp/State/WindowSessionController.swift
  Tests/ISOInspectorAppTests/AppShellViewErrorBannerTests.swift
  Tests/ISOInspectorAppTests/DocumentSessionControllerTests.swift
  Tests/ISOInspectorAppTests/TestSupport/DocumentSessionTestStubs.swift
  todo.md
Due: swift-format-all

Fix rational SwiftLint violations (28 → 10)
  Sources/ISOInspectorApp/State/Services/BookmarkService.swift
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
  Sources/ISOInspectorApp/State/Services/ExportService.swift
  Sources/ISOInspectorApp/State/Services/ValidationConfigurationService.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/CodecConfigurationValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/EditListValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/SampleTableCorrelationRule.swift
Due: swift-format-all

Document Services type_body_length suppressions
  CI_FAILURE_ANALYSIS.md
Due: none

Add SwiftLint baseline support and refactor JSONParseTreeExporter
  .githooks/pre-commit
  .githooks/pre-push
  .github/workflows/ci.yml
  .github/workflows/swift-linux.yml
  .github/workflows/swiftlint.yml
  .swiftlint.baseline.json
  DOCS/INPROGRESS/Summary_of_Work.md
  Examples/ComponentTestApp/.swiftlint-baseline.json
  README.md
  Sources/ISOInspectorKit/Export/JSONParseTreeExporter.swift
Due: validate-github-workflows, swift-format-all

• Fix Applied
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
Due: swift-format-all

Fix compilation errors from service extraction
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorApp/State/Services/BookmarkService.swift
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
  Sources/ISOInspectorApp/State/Services/ExportService.swift
  Sources/ISOInspectorApp/State/Services/ParseCoordinationService.swift
Due: swift-format-all

Update SwiftLint Docker image to 0.57.0 for baseline support
  .github/workflows/swift-linux.yml
Due: validate-github-workflows

Disable vertical_whitespace rule and update swiftlint-format.sh
  .swiftlint.yml
  scripts/swiftlint-format.sh
Due: none

Add SwiftLint suppressions to ValidationRules
  Sources/ISOInspectorKit/Validation/ValidationRules/CodecConfigurationValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/ContainerBoundaryRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/EditListValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/SampleTableCorrelationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/VersionFlagsRule.swift
Due: swift-format-all

Update CI failure analysis - all build errors fixed
  CI_FAILURE_ANALYSIS.md
Due: none

Document SwiftLint version fix in CI_FAILURE_ANALYSIS.md
  CI_FAILURE_ANALYSIS.md
Due: none

bug
  DOCS/AI/ISOInspector_Execution_Guide/04_TODO_Workplan.md
  DOCS/INPROGRESS/235_Sendable_SmokeTest_Build_Failure.md
  DOCS/INPROGRESS/next_tasks.md
  todo.md
Due: none

Add CI failure analysis document for Task A7 refactoring
  CI_FAILURE_ANALYSIS.md
Due: none

Document compilation errors and remaining SwiftLint violations
  CI_FAILURE_ANALYSIS.md
Due: none

Fix duplicate extension declarations in VersionFlagsRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/VersionFlagsRule.swift
Due: swift-format-all

Fix string interpolation syntax errors in Services
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
  Sources/ISOInspectorApp/State/Services/ExportService.swift
Due: swift-format-all

Fix SwiftLint issues
  .githooks/pre-commit
  Examples/ComponentTestApp/.swiftlint-baseline.json
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
  Sources/ISOInspectorApp/State/Services/SessionPersistenceService.swift
  Sources/ISOInspectorApp/State/Services/ValidationConfigurationService.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/SampleTableCorrelationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/TopLevelOrderingAdvisoryRule.swift
  scripts/local-ci/lib/ci-env.sh
  scripts/local-ci/lib/docker-helpers.sh
  scripts/local-ci/run-lint.sh
Due: swift-format-all

Fix macOS build
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
Due: swift-format-all

Reformat
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
Due: swift-format-all

Decrease cyclomatic complexity in the ParseTreeStore
  Sources/ISOInspectorApp/State/ParseTreeStore.swift
Due: swift-format-all

Simplify ParseEventCapturePayload
  Sources/ISOInspectorKit/Export/ParseEvent/ParseEventCapturePayload.swift
Due: swift-format-all

Simplify `synthesizePlaceholdersIfNeeded` of ParseTreeBuilder
  Sources/ISOInspectorKit/Export/ParseTree/ParseTreeBuilderPlaceholders.swift
Due: swift-format-all

Simplify ParseTreeBuilder `consume` function
  Sources/ISOInspectorKit/Export/ParseTree/ParseTreeBuilder.swift
Due: swift-format-all

Simplify ParseTreeBuilder
  Sources/ISOInspectorKit/Export/ParseTree/ParseTreeBuilder.swift
Due: swift-format-all

Simplify ParseTreeOutlineViewModel
  ISOInspector.xcodeproj/project.pbxproj
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineViewModel.swift
Due: swift-format-all

Simplify CoreDataAnnotationBookmarkStore
  Sources/ISOInspectorApp/Annotations/CoreDataAnnotationBookmarkStore.swift
Due: swift-format-all

Simplify big structs and classes
  ISOInspector.xcodeproj/project.pbxproj
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorKit/ISO/FragmentEnvironmentCoordinator.swift
  Sources/ISOInspectorKit/ISO/ParsePipeline.swift
Due: swift-format-all

Disable type_body_length for Tests
  Tests/.swiftlint.yml
Due: none

Simplify ParsePipeline
  ISOInspector.xcodeproj/project.pbxproj
  Sources/ISOInspectorKit/ISO/EditListEnvironmentCoordinator.swift
  Sources/ISOInspectorKit/ISO/FragmentEnvironmentCoordinator.swift
  Sources/ISOInspectorKit/ISO/MetadataEnvironmentCoordinator.swift
  Sources/ISOInspectorKit/ISO/ParsePipeline.swift
  Sources/ISOInspectorKit/ISO/RandomAccessIndexCoordinator.swift
Due: swift-format-all

Simplify ParseTreeOutlineView.swift
  ISOInspector.xcodeproj/project.pbxproj
  Sources/ISOInspectorApp/Detail/ParseTreeDetailView.swift
  Sources/ISOInspectorApp/Tree/BoxCategoryExtensions.swift
  Sources/ISOInspectorApp/Tree/CorruptionBadge.swift
  Sources/ISOInspectorApp/Tree/HiddenKeyboardShortcutButton.swift
  Sources/ISOInspectorApp/Tree/ParseStateBadge.swift
  Sources/ISOInspectorApp/Tree/ParseTreeExplorerView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineRowView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
  Sources/ISOInspectorApp/Tree/SeverityBadge.swift
  Sources/ISOInspectorApp/Tree/ValidationIssueSeverityExtensions.swift
  Sources/ISOInspectorApp/Tree/ViewExtensions.swift
Due: swift-format-all

Fix SwiftLint rules
  .githooks/pre-commit
  .githooks/pre-push
  .github/workflows/swiftlint.yml
  FoundationUI/Sources/FoundationUI/.swiftlint.yml
  README.md
  scripts/local-ci/lib/docker-helpers.sh
  scripts/local-ci/run-lint.sh
Due: validate-github-workflows

Simplify ParseTreeDetailViewModel
  Sources/ISOInspectorApp/Detail/ParseTreeDetailViewModel.swift
  Sources/ISOInspectorKit/Export/ParseTree/ParseTreeBuilderPlaceholders.swift
Due: swift-format-all

Simplify EncryptionSummary
  Sources/ISOInspectorApp/Detail/ParseTreeDetailView.swift
Due: swift-format-all

Next steps of simplifications
  Sources/ISOInspectorApp/Detail/ParseTreeDetailView.swift
  Sources/ISOInspectorApp/Integrity/IntegritySummaryView.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineRow.swift
  Sources/ISOInspectorApp/Tree/ParseTreePreviewData.swift
  Sources/ISOInspectorKit/ISO/ParsePipeline.swift
  Sources/ISOInspectorKit/Validation/ParseIssue.swift
  Sources/ISOInspectorKit/Validation/ValidationIssue.swift
Due: swift-format-all

Path conditions:
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
  swiftlint-foundationui: any of: ^FoundationUI/.*\.swift$ and \.swift$
  swiftlint-componenttestapp: any of: ^Examples/ComponentTestApp/.*\.swift$ and \.swift$
  swift-build-foundationui: any of: ^FoundationUI/.*\.swift$ and \.swift$
  swift-format-all: any of: \.swift$
  swift-test-foundationui: any of: ^FoundationUI/(Sources|Tests)/.*\.swift$ and \.swift$
