Repository SoundBlaster/ISOInspector: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-github-workflows, swiftlint-foundationui, swiftlint-componenttestapp, swift-build-foundationui, swift-format-all, swift-test-foundationui

.pre-commit-config.yaml:

# Pre-commit hook configuration for FoundationUI
# Install: pip install pre-commit && pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files

repos:
  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        name: Check YAML syntax
        description: Validate YAML files including GitHub Actions workflows
        stages: [pre-commit]

      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
        description: Prevent accidentally committing large files
        stages: [pre-commit]

      - id: trailing-whitespace
        name: Trim trailing whitespace
        description: Remove trailing whitespace from all files
        stages: [pre-commit]

      - id: end-of-file-fixer
        name: Fix end of files
        description: Ensure files end with a newline
        stages: [pre-commit]
  # GitHub Actions workflow validation
  - repo: local
    hooks:
      - id: validate-github-workflows
        name: Validate GitHub Actions workflows
        entry: sh -c 'for file in "$@"; do python3 -c "import yaml; yaml.safe_load(open(\"$file\"))" || exit 1; done'
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        types: [yaml]
        stages: [pre-commit]
        description: Validate GitHub Actions workflow YAML syntax

  # Swift linting with SwiftLint
  - repo: local
    hooks:
      - id: swiftlint-foundationui
        name: SwiftLint (FoundationUI)
        entry: sh -c 'cd FoundationUI && swiftlint --config .swiftlint.yml --strict'
        language: system
        files: ^FoundationUI/.*\.swift$
        types: [swift]
        stages: [pre-commit]
        description: Run SwiftLint on FoundationUI source files

      - id: swiftlint-componenttestapp
        name: SwiftLint (ComponentTestApp)
        entry: swiftlint --strict
        language: system
        files: ^Examples/ComponentTestApp/.*\.swift$
        types: [swift]
        stages: [pre-commit]
        description: Run SwiftLint on ComponentTestApp source files

      - id: swift-build-foundationui
        name: Swift Build (FoundationUI)
        entry: sh -c 'cd FoundationUI && swift build && echo "Build successful"'
        language: system
        files: ^FoundationUI/.*\.swift$
        types: [swift]
        stages: [pre-push]
        description: Verify FoundationUI builds successfully before push

      - id: swift-format-all
        name: Swift Format (Auto-format)
        entry: swift format --in-place
        language: system
        types: [swift]
        stages: [pre-commit]
        description: Auto-format Swift files with swift-format before commit

      - id: swift-test-foundationui
        name: Swift Tests (FoundationUI)
        entry: sh -c 'cd FoundationUI && swift test'
        language: system
        files: ^FoundationUI/(Sources|Tests)/.*\.swift$
        types: [swift]
        stages: [pre-push]
        description: Run unit tests before push

  # Git hooks for commit messages
  - repo: local
    hooks:
      - id: commit-message-format
        name: Commit Message Format
        entry: sh -c 'echo "Commit message validation passed"'
        language: system
        stages: [pre-commit]
        description: Validate commit message format (task #XX references)

# Additional pre-commit configurations
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: false
  skip: []
  submodules: false

Update next_tasks.md
  DOCS/INPROGRESS/next_tasks.md
Due: none

Update the Task 245
  DOCS/AI/ISOViewer/ISOInspector_PRD_TODO.md
  DOCS/INPROGRESS/245_Adopt_SwiftUI_Inspector_API_for_ISOInspectorApp.md
Due: none

Archived Task A10 per ARCHIVE instructions.
  DOCS/TASK_ARCHIVE/237_Resolved_Tasks_Batch/A10_Swift_Duplication_Detection.md
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Decline Task 244 and 245
  DOCS/INPROGRESS/244_NavigationSplitView_Parity_With_Demo.md
  DOCS/INPROGRESS/245_Adopt_SwiftUI_Inspector_API_for_ISOInspectorApp.md
Due: none

Archive 243-245
  DOCS/INPROGRESS/next_tasks.md
  DOCS/TASK_ARCHIVE/100_Declined_Tasks_243_245/243_Reorganize_Navigation_SplitView_Inspector_Panel.md
  DOCS/TASK_ARCHIVE/100_Declined_Tasks_243_245/244_NavigationSplitView_Parity_With_Demo.md
  DOCS/TASK_ARCHIVE/100_Declined_Tasks_243_245/245_Adopt_SwiftUI_Inspector_API_for_ISOInspectorApp.md
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Decline Task 243
  DOCS/INPROGRESS/243_Reorganize_Navigation_SplitView_Inspector_Panel.md
  DOCS/INPROGRESS/next_tasks.md
Due: none

Select Task 243
  DOCS/INPROGRESS/243_Reorganize_Navigation_SplitView_Inspector_Panel.md
  DOCS/INPROGRESS/next_tasks.md
Due: none

Archive 243 NEW command execution summary
  DOCS/TASK_ARCHIVE/238_Summary_NEW_Command_Execution/243_Summary_NEW_Command_Execution.md
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Add current state report and archive summary document
  DOCS/INPROGRESS/Current_State.md
  DOCS/TASK_ARCHIVE/239_Summary_of_Work_2025-12-17/Summary_of_Work.md
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Document archive check for bug 234
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Select Bug 234 recent file removal as next task
  DOCS/INPROGRESS/234_Remove_Recent_File_From_Sidebar.md
  DOCS/INPROGRESS/Current_State.md
  DOCS/INPROGRESS/next_tasks.md
Due: none

Add sidebar recents removal affordance
  DOCS/INPROGRESS/234_Remove_Recent_File_From_Sidebar.md
  DOCS/INPROGRESS/Current_State.md
  DOCS/INPROGRESS/Summary_of_Work.md
  DOCS/INPROGRESS/next_tasks.md
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorApp/State/Services/RecentsService.swift
  Tests/ISOInspectorAppTests/DocumentSessionControllerTests.swift
  todo.md
Due: swift-format-all

Add Obsidian files to the .gitignore
  .gitignore
Due: none

Fix document re-opening loop when registering recents
  Derived/Sources/TuistBundle+ISOInspectorAppIOS.swift
  Derived/Sources/TuistBundle+ISOInspectorAppIPadOS.swift
  Derived/Sources/TuistBundle+ISOInspectorAppMacOS.swift
  Derived/Sources/TuistBundle+ISOInspectorKit.swift
  Derived/Sources/TuistBundle+ISOInspectorKitTests.swift
  ISOInspector.xcodeproj/project.pbxproj
  Package.resolved
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorApp/State/WindowSessionController.swift
  Sources/ISOInspectorKit/ISO/BoxHeaderDecoder.swift
  Sources/ISOInspectorKit/ISO/StreamingBoxWalker.swift
  Tests/ISOInspectorAppTests/DocumentSessionControllerTests.swift
  Tests/ISOInspectorKitTests/BoxNodeTests.swift
  Tests/ISOInspectorKitTests/BoxValidatorTests.swift
Due: swift-format-all

Fix pre-commit hook compatibility with bash 3.2 and SwiftLint 0.63
  .githooks/pre-commit
Due: none

Post-commit quality report
  Documentation/Quality/foundationui-coverage-report-20260205-005538.txt
  Documentation/Quality/foundationui-coverage-test-20260205-005538.log
  Documentation/Quality/swift-duplication-report-20260205-005605.txt
Due: none

Sync shared session after window document open
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorApp/State/ParseTreeStore.swift
  Sources/ISOInspectorApp/State/WindowSessionController.swift
  Tests/ISOInspectorAppTests/DocumentSessionControllerTests.swift
Due: swift-format-all

Pin Tuist for macOS CI
  .github/scripts/get-tuist-version.py
  .github/workflows/macos.yml
  .tuist-version
Due: validate-github-workflows

Fix actionlint dead condition in CI workflow
  .github/workflows/ci.yml
Due: validate-github-workflows

Fix banner tap routing and session restore crash
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/State/Services/SessionPersistenceService.swift
Due: swift-format-all

ci: add ISOInspector per-module coverage gate
  .github/workflows/isoinspector-coverage.yml
  scripts/isoinspector_coverage.py
Due: validate-github-workflows

ci(coverage): fail gate when thresholded module is absent from llvm-cov report
  scripts/isoinspector_coverage.py
Due: none

ci(coverage): skip flaky perf benchmarks in SPM coverage job
  .github/workflows/isoinspector-coverage.yml
Due: validate-github-workflows
