Repository SoundBlaster/ISOInspector: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-github-workflows, swiftlint-foundationui, swiftlint-componenttestapp, swift-build-foundationui, swift-format-all, swift-test-foundationui

.pre-commit-config.yaml:

# Pre-commit hook configuration for FoundationUI
# Install: pip install pre-commit && pre-commit install --hook-type pre-commit --hook-type pre-push
# Run manually: pre-commit run --all-files

repos:
  # YAML validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        name: Check YAML syntax
        description: Validate YAML files including GitHub Actions workflows
        stages: [pre-commit]

      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
        description: Prevent accidentally committing large files
        stages: [pre-commit]

      - id: trailing-whitespace
        name: Trim trailing whitespace
        description: Remove trailing whitespace from all files
        stages: [pre-commit]

      - id: end-of-file-fixer
        name: Fix end of files
        description: Ensure files end with a newline
        stages: [pre-commit]
  # GitHub Actions workflow validation
  - repo: local
    hooks:
      - id: validate-github-workflows
        name: Validate GitHub Actions workflows
        entry: sh -c 'for file in "$@"; do python3 -c "import yaml; yaml.safe_load(open(\"$file\"))" || exit 1; done'
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        types: [yaml]
        stages: [pre-commit]
        description: Validate GitHub Actions workflow YAML syntax

  # Swift linting with SwiftLint
  - repo: local
    hooks:
      - id: swiftlint-foundationui
        name: SwiftLint (FoundationUI)
        entry: sh -c 'cd FoundationUI && swiftlint --config .swiftlint.yml --strict'
        language: system
        files: ^FoundationUI/.*\.swift$
        types: [swift]
        stages: [pre-commit]
        description: Run SwiftLint on FoundationUI source files

      - id: swiftlint-componenttestapp
        name: SwiftLint (ComponentTestApp)
        entry: swiftlint --strict
        language: system
        files: ^Examples/ComponentTestApp/.*\.swift$
        types: [swift]
        stages: [pre-commit]
        description: Run SwiftLint on ComponentTestApp source files

      - id: swift-build-foundationui
        name: Swift Build (FoundationUI)
        entry: sh -c 'cd FoundationUI && swift build && echo "Build successful"'
        language: system
        files: ^FoundationUI/.*\.swift$
        types: [swift]
        stages: [pre-push]
        description: Verify FoundationUI builds successfully before push

      - id: swift-format-all
        name: Swift Format (Auto-format)
        entry: swift format --in-place
        language: system
        types: [swift]
        stages: [pre-commit]
        description: Auto-format Swift files with swift-format before commit

      - id: swift-test-foundationui
        name: Swift Tests (FoundationUI)
        entry: sh -c 'cd FoundationUI && swift test'
        language: system
        files: ^FoundationUI/(Sources|Tests)/.*\.swift$
        types: [swift]
        stages: [pre-push]
        description: Run unit tests before push

  # Git hooks for commit messages
  - repo: local
    hooks:
      - id: commit-message-format
        name: Commit Message Format
        entry: sh -c 'echo "Commit message validation passed"'
        language: system
        stages: [pre-commit]
        description: Validate commit message format (task #XX references)

# Additional pre-commit configurations
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: false
  skip: []
  submodules: false

Fix SwiftLint issues
  FoundationUI/Sources/FoundationUI/AgentSupport/AgentDescribable.swift
  FoundationUI/Sources/FoundationUI/Patterns/InspectorPattern.swift
  FoundationUI/Sources/FoundationUI/Patterns/ToolbarPattern.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Disable linter rule vertical_parameter_alignment
  .swiftlint.yml
  Examples/ComponentTestApp/.swiftlint.yml
  FoundationUI/.swiftlint.yml
  FoundationUI/Sources/FoundationUI/.swiftlint.yml
Due: none

Add todos in the code
  Examples/ComponentTestApp/ComponentTestApp/ContentView.swift
  Examples/ComponentTestApp/ComponentTestApp/Models/MockISOBox.swift
  todo.md
Due: swiftlint-componenttestapp, swift-format-all

Disable function_body_length
  .swiftlint.yml
  Examples/ComponentTestApp/.swiftlint.yml
  FoundationUI/.swiftlint.yml
  FoundationUI/Sources/FoundationUI/.swiftlint.yml
  todo.md
Due: none

Disable cyclomatic_complexity
  .swiftlint.yml
  Examples/ComponentTestApp/.swiftlint.yml
  FoundationUI/.swiftlint.yml
  FoundationUI/Sources/FoundationUI/.swiftlint.yml
  todo.md
Due: none

Fix SwiftLint (again)
  .swiftlint.yml
  DOCS/INPROGRESS/A7_SwiftLint_Complexity_Thresholds.md
  Examples/ComponentTestApp/ComponentTestApp/ContentView.swift
  Examples/ComponentTestApp/ComponentTestApp/Models/MockISOBox.swift
  FoundationUI/Sources/FoundationUI/Modifiers/InteractiveStyle.swift
  FoundationUI/Sources/FoundationUI/Patterns/BoxTreePattern+Previews+Inspector.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern+Previews+Dynamic.swift
  Sources/ISOInspectorApp/UI/Components/BoxTextInputView.swift
  Sources/ISOInspectorCLI/CLI.swift
  Sources/ISOInspectorCLI/EventConsoleFormatter.swift
  Sources/ISOInspectorCLI/ISOInspectorCommand.swift
  Sources/ISOInspectorKit/ISO/BoxParserRegistry.swift
  Sources/ISOInspectorKit/ISO/ParsedBoxPayload.swift
  Sources/ISOInspectorKit/Metadata/MP4RACatalogRefresher.swift
  todo.md
Due: swiftlint-foundationui, swiftlint-componenttestapp, swift-build-foundationui, swift-format-all, swift-test-foundationui

Fix formatting and accessibility improvements in UI modifiers
  FoundationUI/Sources/FoundationUI/Modifiers/CopyableModifier.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Replace deprecated content closure with detail closure in Sidebar previews
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern+Previews+Dynamic.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Change isAccessibilityCategory to fileprivate for broader scope within module
  FoundationUI/Sources/FoundationUI/Contexts/AccessibilityContext.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Make conditional view modifier method fileprivate and reformat
  FoundationUI/Sources/FoundationUI/Components/KeyValueRow.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Fix compilation issues
  Examples/ComponentTestApp/ComponentTestApp/Screens/BadgeScreen.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/CardScreen.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/DesignTokensScreen.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/IndicatorScreen.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/KeyValueRowScreen.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/ModifiersScreen.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/SectionHeaderScreen.swift
  Sources/ISOInspectorApp/Detail/ParseTreeDetailView.swift
  Sources/ISOInspectorApp/Tree/CorruptionBadge.swift
  Sources/ISOInspectorApp/Tree/ParseTreeOutlineView.swift
  Sources/ISOInspectorApp/UI/Components/BoxTextInputView.swift
Due: swiftlint-componenttestapp, swift-format-all

Fix macOS window style and toolbar style placement
  Examples/ComponentTestApp/ComponentTestApp/ComponentTestApp.swift
Due: swiftlint-componenttestapp, swift-format-all

Refactor InteractiveStyle to use let bindings in body
  FoundationUI/Sources/FoundationUI/Modifiers/InteractiveStyle.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Change isAccessibilityCategory from fileprivate to private
  FoundationUI/Sources/FoundationUI/Contexts/AccessibilityContext.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Make View extension helper private and simplify formatting
  FoundationUI/Sources/FoundationUI/Components/KeyValueRow.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Expose isAccessibilityCategory property in DynamicTypeSize extension
  FoundationUI/Sources/FoundationUI/Contexts/AccessibilityContext.swift
Due: swiftlint-foundationui, swift-build-foundationui, swift-format-all, swift-test-foundationui

Refactor range calculation for clarity in test case
  Tests/ISOInspectorKitTests/SaioSampleAuxInfoOffsetsParserTests.swift
Due: swift-format-all

SwiftLint fix
  Examples/ComponentTestApp/ComponentTestApp/Screens/AccessibilityTestingScreen.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/BoxTreePatternScreen.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/ISOInspectorDemoScreen.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/PerformanceMonitoringScreen.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/UtilitiesScreen.swift
Due: swiftlint-componenttestapp, swift-format-all

Remove detailed comments from ISOInspectorDemoScreen.swift header
  Examples/ComponentTestApp/ComponentTestApp/Screens/ISOInspectorDemoScreen.swift
Due: swiftlint-componenttestapp, swift-format-all

Disable type_body_length
  .swiftlint.yml
Due: none

Disable SwiftFormat `multiElementCollectionTrailingCommas`
  .swift-format
Due: none

swiftformat
  Examples/ComponentTestApp/ComponentTestApp/ComponentTestApp.swift
  Examples/ComponentTestApp/ComponentTestApp/Models/MockISOBox.swift
  FoundationUI/Package.swift
  FoundationUI/Sources/FoundationUI/Contexts/PlatformExtensions.swift
  FoundationUI/Sources/FoundationUI/Modifiers/BadgeChipStyle.swift
  FoundationUI/Sources/FoundationUI/Patterns/BoxTreePattern+Previews+Inspector.swift
  FoundationUI/Sources/FoundationUI/Patterns/BoxTreePattern+Previews.swift
  FoundationUI/Sources/FoundationUI/Patterns/SidebarPattern+Previews.swift
Due: swiftlint-foundationui, swiftlint-componenttestapp, swift-build-foundationui, swift-format-all, swift-test-foundationui

disable swiftformat
  .github/workflows/ci.yml
  Examples/ComponentTestApp/ComponentTestApp/Models/MockISOBox.swift
  Examples/ComponentTestApp/ComponentTestApp/Screens/ISOInspectorDemoScreen.swift
  README.md
  scripts/local-ci/README.md
  scripts/local-ci/run-all.sh
  scripts/local-ci/run-lint.sh
Due: validate-github-workflows, swiftlint-componenttestapp, swift-format-all

Simplify `synthesizePlaceholdersIfNeeded` of ParseTreeBuilder
  Sources/ISOInspectorKit/Export/ParseTree/ParseTreeBuilderPlaceholders.swift
Due: swift-format-all

Fix rational SwiftLint violations (28 → 10)
  Sources/ISOInspectorApp/State/Services/BookmarkService.swift
  Sources/ISOInspectorApp/State/Services/DocumentOpeningCoordinator.swift
  Sources/ISOInspectorApp/State/Services/ExportService.swift
  Sources/ISOInspectorApp/State/Services/ValidationConfigurationService.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/CodecConfigurationValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/EditListValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/SampleTableCorrelationRule.swift
Due: swift-format-all

Simplify CoreDataAnnotationBookmarkStore
  Sources/ISOInspectorApp/Annotations/CoreDataAnnotationBookmarkStore.swift
Due: swift-format-all

Simplify big structs and classes
  ISOInspector.xcodeproj/project.pbxproj
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorKit/ISO/FragmentEnvironmentCoordinator.swift
  Sources/ISOInspectorKit/ISO/ParsePipeline.swift
Due: swift-format-all

Add SwiftLint suppressions to ValidationRules
  Sources/ISOInspectorKit/Validation/ValidationRules/CodecConfigurationValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/ContainerBoundaryRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/EditListValidationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/SampleTableCorrelationRule.swift
  Sources/ISOInspectorKit/Validation/ValidationRules/VersionFlagsRule.swift
Due: swift-format-all

Document vertical whitespace autocorrect fix
  CI_FAILURE_ANALYSIS.md
Due: none

Simplify EncryptionSummary
  Sources/ISOInspectorApp/Detail/ParseTreeDetailView.swift
Due: swift-format-all

Disable vertical_whitespace rule and update swiftlint-format.sh
  .swiftlint.yml
  scripts/swiftlint-format.sh
Due: none

Simplify ParseTreeBuilder `consume` function
  Sources/ISOInspectorKit/Export/ParseTree/ParseTreeBuilder.swift
Due: swift-format-all

Update SwiftLint Docker image to 0.57.0 for baseline support
  .github/workflows/swift-linux.yml
Due: validate-github-workflows

Prefix method calls with self in DocumentSessionController.swift
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
Due: swift-format-all
