Repository SoundBlaster/ISOInspector: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-github-workflows, swiftlint-foundationui, swiftlint-componenttestapp, swift-build-foundationui, swift-format-all, swift-test-foundationui

validate-github-workflows:
  name: Validate GitHub Actions workflows
  entry: sh -c 'for file in "$@"; do python3 -c "import yaml; yaml.safe_load(open(\"$file\"))" || exit 1; done'
  language: system
  stages:
  - pre-commit
  description: Validate GitHub Actions workflow YAML syntax

swiftlint-foundationui:
  name: SwiftLint (FoundationUI)
  entry: sh -c 'cd FoundationUI && swiftlint --config .swiftlint.yml --strict'
  language: system
  stages:
  - pre-commit
  description: Run SwiftLint on FoundationUI source files

swiftlint-componenttestapp:
  name: SwiftLint (ComponentTestApp)
  entry: swiftlint --strict
  language: system
  stages:
  - pre-commit
  description: Run SwiftLint on ComponentTestApp source files

swift-build-foundationui:
  name: Swift Build (FoundationUI)
  entry: sh -c 'cd FoundationUI && swift build && echo "Build successful"'
  language: system
  stages:
  - pre-push
  description: Verify FoundationUI builds successfully before push

swift-format-all:
  name: Swift Format (Auto-format)
  entry: swift format --in-place
  language: system
  stages:
  - pre-commit
  description: Auto-format Swift files with swift-format before commit

swift-test-foundationui:
  name: Swift Tests (FoundationUI)
  entry: sh -c 'cd FoundationUI && swift test'
  language: system
  stages:
  - pre-push
  description: Run unit tests before push

Archive DOCS/INPROGRESS work
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/228_A7_Reinstate_SwiftLint_Complexity_Thresholds.md
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/229_A8_Gate_Test_Coverage.md
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/229_BUG_Docc_Warnings.md
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/Build Documentation ISOInspectorApp-macOS_2025-11-16T16-20-27.txt
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/README.md
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/Summary_A7_SwiftLint_Complexity_Thresholds.md
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/Summary_TODO_to_PDD_Conversion.md
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/Summary_Workflow_YAML_Validation.md
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/blocked.md
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/code_review.md
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/git_log.log
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/git_log_2.log
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/git_log_3.log
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/git_log_4.log
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/lint_issue_index.md
  DOCS/TASK_ARCHIVE/228_A7_A8_SwiftLint_and_Coverage_Gates/next_tasks.md
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Select A7 SwiftLint complexity task
  DOCS/AI/ISOInspector_Execution_Guide/04_TODO_Workplan.md
  DOCS/INPROGRESS/A7_SwiftLint_Complexity_Thresholds.md
Due: none

Complete A7: Expand SwiftLint CI coverage and artifact publishing
  .github/workflows/swiftlint.yml
  .swiftlint.yml
  DOCS/INPROGRESS/Summary_of_Work.md
Due: validate-github-workflows

Update todo.md: Mark Task A7 as completed
  todo.md
Due: none

Switch main project SwiftLint to informational mode
  .github/workflows/swiftlint.yml
  DOCS/INPROGRESS/Summary_of_Work.md
Due: validate-github-workflows

Add PDD @todo puzzles for large file refactoring
  .github/workflows/swiftlint.yml
  .swiftlint.yml
  DOCS/INPROGRESS/Summary_of_Work.md
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
  Sources/ISOInspectorKit/Export/JSONParseTreeExporter.swift
  Sources/ISOInspectorKit/Validation/BoxValidator.swift
  todo.md
Due: validate-github-workflows, swift-format-all

Add PDD todo collection script
  .gitignore
  scripts/README.md
  scripts/collect_todos.py
Due: none

Update SELECT_NEXT.md with PDD todo collection script
  DOCS/COMMANDS/SELECT_NEXT.md
Due: none

Fix SwiftLint parsing error in @todo comment
  Sources/ISOInspectorApp/State/DocumentSessionController.swift
Due: swift-format-all

Archive Task A7: SwiftLint Complexity Thresholds completion
  DOCS/TASK_ARCHIVE/100_A7_SwiftLint_Complexity_Thresholds/A7_SwiftLint_Complexity_Thresholds.md
  DOCS/TASK_ARCHIVE/100_A7_SwiftLint_Complexity_Thresholds/Summary_of_Work.md
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Fix archive folder numbering: 100 → 229
  DOCS/TASK_ARCHIVE/229_A7_SwiftLint_Complexity_Thresholds/A7_SwiftLint_Complexity_Thresholds.md
  DOCS/TASK_ARCHIVE/229_A7_SwiftLint_Complexity_Thresholds/Summary_of_Work.md
  DOCS/TASK_ARCHIVE/ARCHIVE_SUMMARY.md
Due: none

Implement SELECT_NEXT workflow: Select task A8 for test coverage gating
  DOCS/INPROGRESS/230_A8_Gate_Test_Coverage.md
Due: none

Fix macOS/iPadOS multi-window state sharing issue
  DOCS/INPROGRESS/231_MacOS_iPadOS_MultiWindow_SharedState_Bug.md
  Sources/ISOInspectorApp/AppShellView.swift
  Sources/ISOInspectorApp/ISOInspectorApp.swift
  Sources/ISOInspectorApp/State/WindowSessionController.swift
  Tests/ISOInspectorAppTests/WindowSessionControllerTests.swift
Due: swift-format-all

Fix API compatibility issues in WindowSessionController
  Sources/ISOInspectorApp/State/WindowSessionController.swift
  Tests/ISOInspectorAppTests/AppShellViewErrorBannerTests.swift
  Tests/ISOInspectorAppTests/WindowSessionControllerTests.swift
Due: swift-format-all

Tuist update
  ISOInspector.xcodeproj/project.pbxproj
Due: none

Restore export functionality in WindowSessionController
  DOCS/INPROGRESS/231_MacOS_iPadOS_MultiWindow_SharedState_Bug.md
  Sources/ISOInspectorApp/State/WindowSessionController.swift
Due: swift-format-all

Fix recents sidebar not loading documents into windows
  DOCS/INPROGRESS/231_MacOS_iPadOS_MultiWindow_SharedState_Bug.md
  Sources/ISOInspectorApp/State/WindowSessionController.swift
Due: swift-format-all

Fix main thread blocking during document parsing in WindowSessionController
  DOCS/INPROGRESS/231_MacOS_iPadOS_MultiWindow_SharedState_Bug.md
  Sources/ISOInspectorApp/State/WindowSessionController.swift
Due: swift-format-all

Fix SwiftLint large_tuple violation in WindowSessionController
  Sources/ISOInspectorApp/State/WindowSessionController.swift
Due: swift-format-all

Fix WindowSessionControllerTests race condition
  Tests/ISOInspectorAppTests/WindowSessionControllerTests.swift
Due: swift-format-all

Make WindowSessionController properties testable
  Sources/ISOInspectorApp/State/WindowSessionController.swift
Due: swift-format-all

Path conditions:
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
  swiftlint-foundationui: any of: ^FoundationUI/.*\.swift$ and \.swift$
  swiftlint-componenttestapp: any of: ^Examples/ComponentTestApp/.*\.swift$ and \.swift$
  swift-build-foundationui: any of: ^FoundationUI/.*\.swift$ and \.swift$
  swift-format-all: any of: \.swift$
  swift-test-foundationui: any of: ^FoundationUI/(Sources|Tests)/.*\.swift$ and \.swift$
